[2020-09-26 04:57] dmitryax opened #3 "Consider other names for agentCollector and standaloneCollector"
To continue the discussion about naming of the collector components supported by the chart from https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/1026#pullrequestreview-496400559

This chart can use one of two (or both) forms of installations: collector running as deamonset vs collector running as deployment. Current names can sound confusing, we need to consider other options

[2020-09-30 17:37] pmm-sumo opened #13 "Logs support using FluentBit"
I have researched the possibility of using a common [Fluent Bit Helm Chart](https://github.com/fluent/helm-charts/tree/master/charts/fluent-bit) for log collection on K8s (as a DaemonSet), passing them through OpenTelemetry Collector and getting K8s metadata tagged.

The details are available in this document: https://docs.google.com/document/d/1QlFbXz0eQUaKXK1WrnEs3VqRkcPD2RAdXJdJMjnOSd8/edit#

T

[2020-09-30 19:44] dmitryax commented on #13
It seems reasonable to enable logs pipeline in the helm chart with `fluentforward` receiver by default, or keep it disabled but make it easy to enable with one `telemetry.logs.enabled` option. Actually it's already possible to enable logs pipeline with the current chart,  just requires a bit more configuration.

But I don't think we should bring fluentbit chart as dependency to the core helm chart

[2020-09-30 20:45] tigrannajaryan commented on #13
To reiterate what we discussed in Log SIG: we would want to make sure logs/FluentBit is an optional component so that users who only need traces and metrics don't pay the cost.

If in the future we add direct log collection support to the Collector we may not need FluentBit in this chart anymore.

[2020-10-07 02:17] naseemkullah opened #14 "Q: What does config look like to export traces to two backends?"
Maybe a snippet to export to jaeger + zipkin at the same time would be nice to have in README.md as a reference.

[2020-10-08 03:11] naseemkullah commented on #14
In particular I would have expected this to be a list https://github.com/open-telemetry/opentelemetry-helm-charts/blob/8d5bcf0f7e30a7d6d187f149ff7527735263c5f4/charts/opentelemetry-collector/values.yaml#L19 if multiple exporters are supported, @dmitryax do you know if its possible to have multiple exporters configured via this chart?

[2020-10-08 03:43] dmitryax commented on #14
@naseemkullah yes, multiple exporters can be set in `agent(standalone)Collector.configOverride`. anything set there will be merged to the default config. For example to have two exporters, we'd need:
[code]

I'll add a few examples

[2020-10-08 03:57] naseemkullah commented on #14
Great, thanks!

[2020-10-08 20:11] jpkrohling opened #16 "Add support for provisioning the operator"
I just noticed this repository and thought it would be a good idea to suggest that this repository could also provide a chart to provision the [OpenTelemetry Operator](https://github.com/open-telemetry/opentelemetry-operator/), in a similar way that the [Jaeger Helm Chart](https://github.com/jaegertracing/helm-charts/) provisions the Jaeger Operator.

[2020-11-19 21:33] #14 closed

[2020-11-20 15:14] ferrarimarco opened #19 "Avoid the deprecated queued_retry processor"
The `queued_retry` processor was deprecated by https://github.com/open-telemetry/opentelemetry-collector/pull/1821.

The `opentelemetry-collector` chart is offering it as part of its default configuration ([here](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/master/charts/opentelemetry-collector/values.yaml#L17) and [here in the pipeline](https://github.com/open-telemetry/opente

[2020-11-26 16:28] naseemkullah commented on #19
Thanks for flagging @ferrarimarco, are you up for a PR?

[2020-12-04 09:19] ferrarimarco commented on #19
As soon as the prometheus exporter fully migrate to exporterhelper :)

[2020-12-13 12:36] jjangga0214 opened #21 "processor queued_retry is deprecated."
https://github.com/open-telemetry/opentelemetry-helm-charts/blob/f8c80ed4f4d5ebd518236ef8f8b8d342f8234a80/charts/opentelemetry-collector/values.yaml#L17

[reference](https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/queuedprocessor/README.md)

[2020-12-26 07:18] jjangga0214 opened #22 "Enable extensions to be string"
## How it behaves

Extensions are only able to be specified by object.

## How it should behave

Extensions can be passed as string. If so, default configuration for the extension should be applied.

## Reproduction

### Configuration

[code]

### Error

[code]

[2020-12-26 07:29] jjangga0214 commented on #21
Close as there is already #19.

[2020-12-26 07:29] #21 closed

[2020-12-26 07:36] jjangga0214 opened #23 "pipeline "traces" references processor batch which does not exist"
## How it behaves

Processor is not defined.

## How it should behave

Processor should be defined.

## Reproduction

### Configuration

[code]

### Error

[code]

[2021-01-24 03:01] naseemkullah commented on #23
Thanks for flagging @jjangga0214, would you be willing to submit a fix? 🙏

[2021-01-24 03:52] naseemkullah commented on #23
Could you try setting the value of `config.processors.batch` to `{}` ?

[2021-01-28 04:41] naseemkullah opened #29 "revamp ports"
k8s ports (pod, service) should be determined by which receivers are setup rather than managed independently via .Values.ports unless there is a reason that receiver ports and k8s ports should differ.

This would be a breaking changes.

[2021-02-02 01:41] usrlocalang opened #31 "Provide ability to Load an Existing Secret or Create a New Secret to Datadog."
Need a way to load the api-key into the config. Dont want to stick an api-key into the config section of the values file.

[2021-02-02 16:07] usrlocalang commented on #31
Preferably https://github.com/external-secrets/kubernetes-external-secrets

[2021-02-06 19:17] naseemkullah commented on #29
Not that important for now.

[2021-02-06 19:17] #29 closed

[2021-03-09 12:53] astencel-sumo opened #34 "Error creating processor "memory_limiter" on clean install"
Helm chart: [opentelemetry-collector-0.4.3](https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.4.3) (latest at the time of writing)

When installing the chart with:

[code]

the installation succeeds, but the OTC pod crashes with the following error:

[code]

<details>
<summary>See full OTC pod logs</summary>

[code]

</details>

Here's the relevant

[2021-03-09 14:38] renatomjr opened #35 "Headless service for the agent"
How do you usually configure the tracing SDK exporter to point to the agent? Wouldn't be a good idea to include a headless service for the agent?
My stack is: SDK -> Agent -> Standalone Collector

[2021-03-18 15:13] seh commented on #31
If we could mount a Kubernetes _Secret_ into the collector pod as a volume, we could then define environment variables using "spec.containers.env.valueFrom.secretKeyRef" and "spec.containers.envFrom."

[2021-03-22 16:33] dmitryax commented on #34
Can reproduce on the newest helm version  staring from 3.5.0. The chart works as expected on helm version 3.4.2 and earlier.

I'm working on a fix...

[2021-03-22 20:38] #34 closed

[2021-03-30 13:22] tigrannajaryan commented on #13
Closing, this is no longer the plan. We now use Otel Collector for log collection.

[2021-03-30 13:22] #13 closed

[2021-03-30 13:28] tigrannajaryan opened #40 "Add functional end-to-end tests for the chart"
We need to test the Helm chart's functionality end-to-end:
- Install the chart on a test Kubernetes cluster.
- Run a test mock backend (can possibly reuse mock backends from Collector [testbed](https://github.com/open-telemetry/opentelemetry-collector/tree/main/testbed)).
- Configure the chart to send collected traces, metrics and logs to the mock backend.
- Run some test workload on the cluster.

[2021-03-30 14:21] tigrannajaryan commented on #40
Looks like we are already using https://github.com/helm/chart-testing-action which supposedly is what we need to install the chart, so probably step 1 above is already covered.

[2021-04-02 04:09] techmunk opened #42 "Regex for extract_metadata_from_filepath added by #36 is too strict"
The regex is currently:
`^.*\/(?P<namespace>[^_]+)_(?P<pod_name>[^_]+)_(?P<uid>[a-f0-9\-]{36})\/(?P<container_name>[^\._]+)\/(?P<run_id>\d+)\.log$`

The `uid` check for 36 characters is too strict. I had to change the capture group to `(?P<uid>[^\/]+)`, which also matches with what is currently in PR #38

[2021-04-06 13:30] krak3n commented on #35
I too am wondering this, the only thing I have come across so far would be exposing the `HOST_IP` to the pod via environment variables, so for example your app deployment would have something like this:

[code]

This way your nodes IP would be known to the application.

[2021-04-09 21:10] jklaw90 opened #45 "Config overide issues"
When running the agent and collecctor i've been seeing configs.
it maybe related null values when rendering the config to the configmap.  output from just enabling the agent and collector without touching any config:
[code]
it seems to be missing `grpc:`

[2021-06-22 15:32] carnei-ro opened #50 "CHANGELOG.md"
Hey guys, I'm implementing opentelemetry and every time I access this repo a new version exists (at least a bug fix version).
It is really difficult to know what is going on if a simple change log is absent. I would be really nice to have one.

[2021-06-23 18:35] alolita opened #51 "Add Helm chart to deploy OpenTelemetry Operator in an Kubernetes cluster"
*Is your feature request related to a problem? Please describe.*

The Collector is deployed today using the OpenTelemetry Operator. We would like to add an OpenTelemetry Operator Helm chart to give the users another choice to deploy the Operator. With this Helm chart, users will have the flexibility to tune the configurations passed into the Operator and manage the OpenTelemetry Operator efficient

[2021-06-23 18:36] alolita commented on #51
Hi @tigrannajaryan @dmitryax can you assign this issue to @Saber-W

Thanks!

[2021-06-23 18:41] Saber-W commented on #51
The design doc of the OpenTelemetry Operator Helm chart is [here](https://docs.google.com/document/d/1JwQqFnHlhtr0XT3NYrGF3yK-5xIzRagGpXbw_u0wfGo/edit?usp=sharing).

Thank you!

[2021-06-30 17:00] dmitryax commented on #51
The design doc looks good to me. Thanks for providing it.

[2021-06-30 18:11] Saber-W commented on #51
Hi @dmitryax, thank you!

[2021-07-05 14:40] mschuwalow opened #55 "404 from GitHub Pages & repository"
I'm getting a 404 from https://open-telemetry.github.io/opentelemetry-helm-charts/ and pulling the chart fails.

[2021-07-05 14:44] mschuwalow commented on #55
Nevermind, user error

[2021-07-05 14:44] #55 closed

[2021-07-12 16:54] Saber-W opened #57 "Migrate the KUTTL smoke tests of the operator Helm chart to Github CI workflow"
**Is your feature request related to a problem? Please describe.**

Currently, during every release of the operator Helm chart, maintainers need to clone the [operator repo](https://github.com/open-telemetry/opentelemetry-operator) and run the [KUTTL tests](https://github.com/open-telemetry/opentelemetry-operator/blob/main/kuttl-test.yaml) locally. We want to migrate all the tests to Github CI wor

[2021-07-12 16:58] Saber-W commented on #57
Hi @dmitryax, please assign this to me. Thank you!

[2021-07-12 17:07] Saber-W opened #58 "Add functions to current operator Helm chart release script to validate which template files need to be updated"
**Is your feature request related to a problem? Please describe.**

Currently, in operator Helm chart, we provide a release helper (main.go) for maintainers to update CRDs, values.yaml and Chart.yaml automatically during every release. We want to add one more function to this, which would compare all the template files under `templates` directory with the latest OTEL Operator manifest, and tell ma

[2021-07-12 17:07] Saber-W commented on #58
Hi @dmitryax, please assign this to me. Thank you!

[2021-07-15 15:32] wtcampos opened #59 "Unable to disable pipelines"
According to the documentation to disable a pipeline, we need to define the metrics as `null`,

[code]

but when I do this I got the message on logs that I need at least one metric receiver;
[code]

How can I disable those pipelines re metrics and logs?

[2021-07-15 15:58] #59 closed

[2021-07-16 20:58] adriangb opened #60 "Datadog exporter does not run"
I'm posting this here because I think the issue is specific to running the helm chart, not a problem with the Datadog exporter in general. Please let me know if this is not the case and I can post this is the collector contrib repo.

When I run the image directly:

[code]

Where `otel-collector-config.yaml` looks like:

[code]

I see:

[code]

And everything works as expected.

However if I use th

[2021-07-16 21:32] adriangb commented on #60
I spotted that it was being `ignored because it is not used by any pipeline`. Which I think is wrong. But moving the `service` config under `standalongCollector.configOverride` seems to have solved it.

[2021-07-17 05:56] dmitryax commented on #60
I see the issue in your helm config. `service` is on the top level, but it must be under `config`.

[2021-07-17 05:56] #60 closed

[2021-07-17 05:58] adriangb commented on #60
Thanks! Definitely user error. I appreciate the reply

[2021-07-26 22:56] LadySerena opened #61 "Headless Service for Standalone Collector"
Hey I've been using the helm chart for work and one thing that came up was I needed a headless service for the standalone collector when used in conjunction with the [load-balancing exporter](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/loadbalancingexporter) from the contrib repo.

Specifically in this line of the exporter has a service discovery mechanism

[2021-07-29 10:48] paologallinaharbur opened #63 "Permission management for prometheus receivers"
I am currently testing the prometheus receiver.
The chart creates a service account with no specific permission, therefore I faced the classical `Failed to watch *v1.Service`

Which is the recommended way to set up RBAC for the service account this chart creates?
Should this chart provide something similar to [what prometheus chart](https://github.com/prometheus-community/helm-charts/blob/main/cha

[2021-08-10 06:59] #51 closed

[2021-08-10 07:03] #57 closed

[2021-08-11 01:02] #58 closed

[2021-08-23 20:00] VineethReddy02 opened #69 "Allow option to create opentelemetry-collector CR along with otel-operator helm installation"
I am currently evaluating opentelemetry-operator helm chart. I am stuck on an issue. I wanted to add the opentelemetry-collector custom resource along with otel-operator helm chart installation.

The otel-col CR creation fails during installation with the below error:

[code]

Because the CR creation triggers the mutating webhook request to the operator and on creating otel-col CR during installat

[2021-08-23 22:23] Saber-W commented on #69
I think using pre-install mechnism is an appropriate workaround if you want to "create otelcol CR along with the otel operator installation". If you can accept Collector to be installed slight after the Operator's readiness, I think `kubectl wait` would also be a good fix.

[2021-08-24 03:11] VineethReddy02 commented on #69
But how can I use `kubectl wait` inside helm chart installation?

I'm adding a otel-col CR inside `/templates` directory to create a otel-col with provided config alongside the otel-operator installation.

[2021-08-24 12:05] jpkrohling commented on #69
If you install the CR before the hook is installed, your CR will not be validated and we might not normalize it (defaulter). Not sure how to do it with Helm, but you do need to create the CR after the operator is ready.

[2021-08-24 12:18] VineethReddy02 commented on #69
I am trying to create otel-col in deployment mode. So the validating webhook has very little to do with type deployment as more validations logic is on other types of deployment modes. And mutating webhook is responsible for injecting the labels
`"app.kubernetes.io/managed-by": "opentelemetry-operator"` I am adding it myself in config as with pre-hook CR creation cannot perform mutation on existin

[2021-08-24 12:20] jpkrohling commented on #69
It might be a short-term solution for you, but we definitely need a proper solution for the wider community.

[2021-08-24 21:23] adriangb commented on #59
@wtcampos  how did you resolve this?

[2021-08-25 08:48] wtcampos commented on #59
Hello @adriangb , you can define those values as `null`, if you're using the Helm chart to deploy it just keep in mind of the merge strategy between the agent and standalone config.

e.g:

[code]

[2021-08-27 04:08] qingvincentyin opened #71 "/var/log/pods/default_nginx_57d......a31f/nginx/0.log: permission denied"
AWS EKS 1.21:
[code]

Following your [published docs here](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector#configuration-for-kubernetes-container-logs), I created the following `values.yaml` except that I took the liberty to point to the latest image:
[code]

Deployed helm:
[code]

Deploy some app pod:
[code]

I get the following error:
[code]

[2021-09-01 23:20] mars64 commented on #23
fwiw, I am successfully using `batch` via:

[code]

(versus `batch: <null>`)

Chart version `0.5.10`
Image `otel/opentelemetry-collector-contrib:0.22.0`

[2021-09-07 04:34] anuraaga opened #72 "Latest version in helm repo is 0.2.0"
[code]

Latest version shown is 0.2.0

Release workflow seems to not be detecting chart changes for some reason

https://github.com/open-telemetry/opentelemetry-helm-charts/runs/3490399927?check_suite_focus=true

[code]

[2021-09-07 04:36] anuraaga opened #73 "Support installing to user-defined namespace"
I create my own namespace, for example `monitoring`, and pass it to the helm command when applying the chart, but this chart seems to have a requirement on its name as I still get the error `namespaces "opentelemetry-operator-system" not found`. It should be possible to install into any namespace, respecting the helm namespace argument

[2021-09-07 04:40] anuraaga commented on #73
FWIW, I don't know if I've seen another chart that automatically creates a namespace. I think it's idiomatic in helm to expect the user to create a namespace as appropriate.

[2021-09-07 08:43] indrekj commented on #72
Noticed that as well. Maybe related to https://github.com/helm/chart-releaser-action/issues/71

[2021-09-07 09:27] VineethReddy02 commented on #69
@mars64 thanks for the input.

But dealing with separate charts makes it more complex right? I mean the upgrades and management of multiple charts, which represent a single system i.e. the actual components and the supporting components.

[2021-09-07 20:50] #72 closed

[2021-09-07 22:25] mars64 commented on #69
The way I read your request, the complexity comes from the goal of combining two different resources (CRD and the CR that relies on the CRD -- each with different lifecycles) into a single step (i.e. install a single helm chart). I'm trying to point out that the helm community generally doesn't seem to have a good answer for this. In other words, it's additional complexity either way.

Personally,

[2021-09-13 12:12] indrekj commented on #72
Still a problem,

https://github.com/open-telemetry/opentelemetry-helm-charts/runs/3580447145

Now failed with:
[code]

[2021-09-13 13:16] anuraaga commented on #72
We have permission to disable the branch permission for code that doesn't add copyright, which covers basically every release workflow so this should be ok to disable too.

The trick we found in the Java repo is first deleting `*/**` rule added by the easycla bot, adding a rule for the release branch, then re-adding the `*/**` bot. Attempting to add before deleting that doesn't work. /cc @trask

C

[2021-09-14 22:49] pragmaticivan opened #76 "Add optional ingress for otel collector"
It might be useful for exposing the collector for SPA apps (react) and perhaps adding another way of redirecting requests to a oauth proxy.

[2021-09-15 13:04] pragmaticivan opened #77 "Add optional network policy"
Might be required for some scenarios. Currently applying it manually.

[2021-09-15 19:17] pragmaticivan commented on #73
@anuraaga could you share how you are installing your config? I got it working on a specified namespace I created already.

[code]

[2021-09-15 19:21] pragmaticivan opened #78 "Update release lifecycle to support Conventional Commit, Release Please and automatic CHANGELOG"
For ref: https://github.com/google-github-actions/release-please-action

[2021-09-21 17:10] bbeattie-phxlabs opened #79 "agentCollector doesn't expose ports despite config file defining ports"
https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/values.yaml#L111 speaks of ports exposed for both the agentCollector and the standaloneCollector. But https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/templates/service.yaml defines a service for _only_ the standaloneCollector.

Unclear if this is

[2021-09-21 17:23] bbeattie-phxlabs commented on #79
https://cloud-native.slack.com/archives/C01N6P7KR6W/p1632244507174600?thread_ts=1632243802.174400&cid=C01N6P7KR6W

[2021-09-21 17:23] #79 closed

[2021-09-21 20:08] bbeattie-phxlabs commented on #79
For anyone else searching on this, https://github.com/open-telemetry/opentelemetry-helm-charts/issues/35 discusses this very issue.

[2021-09-22 16:55] mars64 commented on #35
re: loadbalanced otel-collector endpoint, I just wanted to highlight a comment from the linked thread ^^ https://github.com/open-telemetry/opentelemetry-helm-charts/issues/79#issuecomment-924197449

As such, @krak3n 's solution is probably more correcterer.

[2021-09-22 17:56] #35 closed

[2021-09-22 17:59] renatomjr commented on #35
Closing. @krak3n's solution is certainly the best approach.
I met my need with [env interpolation](https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/#define-an-environment-dependent-variable-for-a-container):

[code]

[2021-09-24 06:25] #61 closed

[2021-09-27 02:30] ethernoy opened #81 "Support hostAliases customization in otel collector"
We can add hostAliases customization to otel collector helm chart.

https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/

I am happy to submit a PR for this :)

[2021-09-29 16:42] jdgeisler opened #83 "Latest published helm chart version is 0.2.0 for the operator"
I am trying to deploy the newest version of the helm chart, 0.3.2, but it is not available in the open-telemetry helm chart repository. The latest version available is 0.2.0.

Also, I am unable to even use version 0.2.0 since the crds are incorrect.

This is related to issue https://github.com/open-telemetry/opentelemetry-helm-charts/issues/72 and PR https://github.com/open-telemetry/opentelemetry

[2021-10-01 08:02] ethernoy opened #84 "Add hostalises to opentelemetry-collector helm chart"
I am using opentelemetry-collector helm chart to deploy my instances of collector that serves as a batch processor of jaeger tracing and exports traces to remote jaeger collector. During this process, I need to update the hostalies field of otel collector deployment to add a DNS entry for routing purpose. However this field is not available in the helm chart and I hence have to customize the helm

[2021-10-08 16:13] txomon commented on #22
I believe this belongs to the opentelemetry-collector rather than here, as the config file is passed through.

[2021-10-09 04:22] ethernoy commented on #84
Oh sorry I did not recall I have raised a duplicate issue before :(

[2021-10-09 17:55] dmitry-mightydevops opened #88 "v0.36.0 drop support for mem-ballast-size-mib"
https://github.com/open-telemetry/opentelemetry-helm-charts/blob/21709e3054dbfb876d40114469233971e2c88bac/charts/opentelemetry-collector/templates/_pod.tpl#L15

should be dropped to support latest v0.36.0 tag of the collector image.

see this https://github.com/open-telemetry/opentelemetry-collector/pull/3626

[2021-10-15 10:01] etiennejournet opened #90 "Default chart configuration not fully overridable"
Hello,

I understand that you wanted to provide a "base configuration" (`config`) and an overridable one (`standaloneCollector.configOverride` or `agentCollector.configOverride`) and it's very useful. But there is a problem because setting up the Chart will always bring some elements of **your** default `config`, even if I have **my** defaults `config` in the config file.

So when I use `configOve

[2021-10-15 19:54] dmitryax opened #91 "Make collector chart have a single responsibility"
Bringing up a dedicated issue from the comment https://github.com/open-telemetry/opentelemetry-helm-charts/issues/3#issuecomment-938505996 and PR https://github.com/open-telemetry/opentelemetry-helm-charts/pull/86.

The proposal is to remove the option to deploy both agentCollector and standaloneCollector with data automatically forwarded through from agent to standalone collector. This will signi

[2021-10-16 18:19] txomon commented on #91
I have done this in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/86/commits/3078c4903a9bdfa1f8ed2dfcec3932d05bd8c239 hopefully it's what you were looking for. In general I believe it's not good to document so much because it's harder to maintain, but I do agree that it's easier to explain this way.

I have been looking into this, but I can't find a good way to forbid a key to e

[2021-10-27 13:39] miaucl opened #94 "Default configuration not deployable due to misconfigured oltp protocol"
I am new to the open telemetry, and was starting to set up an Operator and Collector via helm charts. It is not really a bug, but the default helm chart configuration for Collector **does** specify the protocol "otlp" but provides **no** configuration to it ([here](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/582acccee0dfb91f77b760f7474756b3815738e6/charts/opentelemetry-collect

[2021-11-10 17:35] #94 closed

[2021-11-12 00:03] dmitryax commented on #76
Hi @secustor @pragmaticivan , can you please provide more evidence why the ingress should be part of the collector helm chart?

The general idea is to keep this helm chart thin and provide only necessary resources to support OpenTelemetry collector in k8s environment.

I don't believe that ingress has to be part of this chart. I think it should be deployed with nginx-ingress helm chart separately.

[2021-11-12 17:35] secustor commented on #76
I'm not sure, if we talk about the same.

What I'm referencing is a simple Ingress object  like in my PR, which cannot be deployed using the nginx-ingress helm chart. Usually these are packaged with the corresponding applications. e.g. [Loki](https://github.com/grafana/helm-charts/blob/main/charts/loki/templates/ingress.yaml) from Grafana and [Jaeger](https://github.com/jaegertracing/helm-charts/b

[2021-11-12 17:40] pragmaticivan commented on #76
Same as above. This ticket was intended for the Ingress resource, not the operator.

[2021-11-22 03:33] FuyuanChu commented on #90
+1
When I set up otel collector as a metrics gateway, it is always set up with some default receivers and exporters which may confuse others and it also could be a security risk as exposes more interfaces than needed. Thanks in advance for your great works.

[2021-12-12 16:28] yossicohn opened #107 "operator Helm chart should update cert-manager apiVersion: cert-manager.io/v1"
Currently, the operator Helm chart template is using cert-manager with older `apiVersion`.
Trying to deploy with instructions we fail when installing the Helm Chart as instructed [here](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-operator).
looking inside we can see that the cert-manager is old using [certmanager.yaml)](https://github.com/open-telemet

[2021-12-17 15:34] tomkerkhove opened #108 "List Helm charts on Artifact Hub"
Are there plans to list the Helm charts on artifact hub?

[2021-12-26 19:56] #107 closed

[2022-01-11 15:06] j-land opened #110 "Release opentelemetry-collector Helm chart for latest app version (0.42.0)"
As of writing, the latest opentelemetry-collector (0.8.1) chart supports appVersion 0.37.1. Attempts to use this Helm chart version with an the image for the app version 0.42.0 produces this error in the pod:

`Error: failed to start container "opentelemetry-collector": Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/otelcon

[2022-01-11 15:54] j-land commented on #110
Looking into this further, the issue with pod startup seems to be that there is a discrepancy between the Dockerfile in code (https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/v0.42.0/cmd/otelcontribcol/Dockerfile#L14) and the Dockerfile tied to the image in Dockerhub (https://hub.docker.com/layers/otel/opentelemetry-collector-contrib/0.42.0/images/sha256-ec8c214a835edfec73d43

[2022-01-12 11:37] dyhack commented on #110
Yes,I got the same prolbem。Using helm,
`Warning  Failed     12s (x2 over 14s)  kubelet
Error: failed to start container "opentelemetry-collector": Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/otelcontribcol": stat /otelcontribcol: no such file or directory: unknown
`
the image version 0.42.0(otel/opentelemetry-collector-c

[2022-01-13 00:54] erichsueh3 opened #111 "Add `--otelcol-image` cli flag value to Operator Helm Chart"
The `--otelcol-image` cli flag should be added to the Operator helm chart so users can have a way to set the default Collector image without setting it in the Collector configuration. The current default image will remain the same, and will only be changed if a user explicitly configures it otherwise.

[2022-01-13 01:46] reidlai opened #112 "Opentelemetry Gateway Configuration"
According to Opentelemetry documentation, we can implement gateway deployment other than collector.  But I cannot find any implementation details in these chart settings or from documentation.  Any hint to let me know how to configure opentelemetry gaetway for large cluster?  Thanks

[2022-01-18 07:46] #111 closed

[2022-01-24 15:14] DigasNikas commented on #71
@qingvincentyin did you overcome this issue?
`securityContext: { runAsUser: 0 }` solves the issue but I'm looking after better solutions than running as root.

[2022-01-24 15:20] qingvincentyin commented on #71
@DigasNikas I did what you did to solve my problem, too, on a demo system. I don't know what is supposed to be the official solution. In my opinion, this should be considered a bug in current OpenTelemetry source code because it doesn't work "as is".

[2022-01-25 20:14] js8080 commented on #90
I just spent the last few hours struggling with this. I am not super experienced with Helm but I find this chart is unlike many others I have seen in its behavior.

[2022-01-27 07:59] parth-purohit opened #114 "oltp grpc exporter failing in k8s deployment using helm charts"
Hi Team,

I have deployed both otel-collector as daemonset and standalone deployment  as per the README docs in below link

https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector

agentCollector:
  enabled: true
standaloneCollector:
  enabled: true

The oltp grpc exporter in agent pod is failing with below error:

[code]

Steps followed:
helm install -

[2022-01-28 10:20] paulgrav commented on #110
It’s because the entrypoint in the container has been changed from `/otelcontribcol` to `/otelcol-contrib`. Additionally, `--metrics-addr` is no longer a valid argument.

We can override the entrypoint by changing `command.name` in `values.yaml` but the `metrics-addr` arg is hardcoded.

[2022-01-30 18:24] #45 closed

[2022-01-31 23:05] #110 closed

[2022-02-02 10:00] kuzaxak commented on #16
I think that issue can be closed

[2022-02-07 05:37] #76 closed

[2022-02-11 09:29] awx-kqkq opened #123 "Update for opentelemetry-operator v0.43.0"
The opentelemetry-operator v0.43.0 has been released!

However, this chart is still based on v0.41.1.

There're some new features we'd like to try.

Please consider updating the chart for opentelemetry-operator v0.43.0!

Thank you so much!

[2022-02-11 17:38] #73 closed

[2022-02-14 08:47] awx-kqkq commented on #123
v0.6.1 released. Closing the issue.

[2022-02-14 08:47] #123 closed

[2022-02-28 17:40] dmitryax opened #126 "Make opentelemetry-operator tests to not fail once new operator version is released"
opentelemetry-operator helm chart tests was written in a way that the validation is happening against the latest version of the operator. It breaks the opentelemetry-operator helm chart tests every time a new version of the operator is released.

For example, currently this PR is blocked https://github.com/open-telemetry/opentelemetry-helm-charts/pull/125

[2022-02-28 17:55] dmitryax commented on #126
Hey @open-telemetry/operator-approvers, can anyone please help with this issue?

[2022-02-28 18:01] dmitryax opened #127 "Need code owners for opentemetry-operator helm chart"
The operator helm chart need more attention.

@open-telemetry/operator-maintainers please let us know who can help with maintaining it and can be added as a code owner.

[2022-03-01 08:01] jpkrohling commented on #127
I don't think any of the current Operator maintainers did anything regarding the helm chart for it.

[2022-03-01 08:02] jpkrohling commented on #126
As an operator approver myself, I don't have the required knowledge to help here. If no other operator maintainer/approver is able or willing to help here, and no other people are found among the original helm chart contributors, I suggest deprecating the chart.

[2022-03-02 09:51] pavolloffay commented on #126
I would suggest pinning the operator version and fix the tests when the operator version is updated.

[2022-03-02 17:54] TylerHelmuth commented on #126
I can take a shot at this

[2022-03-03 00:25] #126 closed

[2022-03-03 00:29] alolita commented on #127
@erichsueh3 from AWS has also been working on the operator helm chart. He can help maintain the releases for the helm chart to stay current with the Collector versions.

[2022-03-03 18:02] VineethReddy02 commented on #127
@dmitryax I can be part of maintaining otel-operator helm chart :)

[2022-03-03 19:04] TylerHelmuth commented on #112
If you want a gateway deployment of the collector then I think the [standaloneCollector](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector#default-configuration) settings are what you want.  The standalone collector is a single deployment of the collector within the Cluster.

Typically the agent (daemonset) deployment of the collector is used in t

[2022-03-03 20:13] erichsueh3 commented on #127
@dmitryax @alolita I can also help out!

[2022-03-03 20:41] TylerHelmuth commented on #114
Hey @parth-purohit do you still need help with this issue?  If so, can you provide:

- Version of the collector having issues (looks like 0.37.1)
- Version of the charts being used
- The startup logs of the agent
- The startup logs of the standalone collector

Thanks!

[2022-03-03 23:13] dmitryax commented on #108
@tomkerkhove not yet. Any help is appreciated

[2022-03-03 23:17] #83 closed

[2022-03-03 23:21] dmitryax commented on #81
@ethernoy sorry for the delayed response? why it must be part of this helm chart? can it be deployed separately?

[2022-03-03 23:22] dmitryax opened #132 "Update operator helm chart to the latest operator version"
The operator chart uses 0.43.0 version of operator. The latest one currently is 0.45.0.

[2022-03-04 01:48] dmitryax commented on #63
Because prometheus receiver is not part of the default config. Several optional components like k8s processor or prometheus receiver require additional RBAC.

We need to add an option to specify rbac in the chart

[2022-03-04 01:49] dmitryax commented on #50
Should be solved as part of https://github.com/open-telemetry/opentelemetry-helm-charts/issues/78

[2022-03-04 01:53] dmitryax commented on #31
There is a way to mount secrets with `secretMounts` option, but we need to make it possible to mount as env var, not only as a file

[2022-03-04 02:05] dmitryax commented on #69
I like the method 2 with separate helm charts, but not sure what's the established practice

[2022-03-04 02:57] dmitryax opened #133 "Make volume mounts configuration more flexible"
## Problem

Currently there are 3 config parameters for k8s volumes:
- `extraConfigMapMounts`
- `extraHostPathMounts`
- `secretMounts`

They all applied to both `volumes` and `volumeMounts` in the templates. Existing configuration approach is limited and doesn't provide a way to configure many other use cases, for example:
- Ability to mount a secret to env var (https://github.com/open-telemetry/o

[2022-03-04 03:02] dmitryax commented on #22
This is incorrect config. If you want to redefine extensions used in the service, the config should be:

[code]

[2022-03-04 03:02] #22 closed

[2022-03-04 03:03] #16 closed

[2022-03-04 03:07] dmitryax commented on #127
Thanks @VineethReddy02 and @erichsueh3. I think we currently have at least couple of issues related to the operator:
- https://github.com/open-telemetry/opentelemetry-helm-charts/issues/132
- https://github.com/open-telemetry/opentelemetry-helm-charts/issues/69
and this one that would be very useful for both charts:
- https://github.com/open-telemetry/opentelemetry-helm-charts/issues/78

Feel free

[2022-03-04 06:09] tomkerkhove commented on #108
Working on it

[2022-03-04 06:23] erichsueh3 commented on #132
Hi @dmitryax please assign me this issue

[2022-03-04 06:55] tomkerkhove commented on #108
Once the PR is merged, we need to take these actions:
- [ ] Share an email address(es) with Tom to add as owner on Artifact Hub org
- [ ] Change Artifact Hub configuration to use new owner(s)

[2022-03-04 06:58] dmitryax opened #135 "Introduce values schema for the collector chart"
Introduce [values.schema.json](https://helm.sh/docs/topics/charts/#schema-files) for values.yaml input validation in opentelemetry-collector helm chart. All the objects in values.yaml with predefined set of properties should not allow unknown properties.

This is a preliminary step for any big change to the helm chart configuration, e.g. https://github.com/open-telemetry/opentelemetry-helm-charts/

[2022-03-04 06:59] dmitryax opened #136 "Introduce values schema for the operator chart"
Introduce [values.schema.json](https://helm.sh/docs/topics/charts/#schema-files) for values.yaml input validation in opentelemetry-operator helm chart. All the objects in values.yaml with predefined set of properties should not allow unknown properties.

[2022-03-04 07:01] dmitryax commented on #108
Thank you @tomkerkhove , I've sent you a direct message in CNCF slack

[2022-03-04 07:10] dmitryax commented on #132
Looks like it's already addressed in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/137

[2022-03-04 07:10] #132 closed

[2022-03-04 16:00] TylerHelmuth opened #138 "Add example folder with common values.yaml scenarios"
It would be nice to have some example values.yaml for common scenarios customers might have.  Some scenarios could be:

- agent only configuration
- standalone only configuration
- agent and standalone
- Traces only
- Metrics only
- Logs only
- Common receivers (hostmetrics?)
- Common processors (resourceprocessor or k8sattributeprocessor?)
- Proxy configuration

Could be worth combining certain e

[2022-03-04 16:02] TylerHelmuth commented on #135
I can look at this.

[2022-03-04 16:32] TylerHelmuth commented on #135
There is a lot of schema to add.  Will probably submit PRs in  small chunks to make review easier since each bit of validation added is valid in itself.

[2022-03-04 17:36] dmitryax commented on #135
Sounds good. Thanks!

[2022-03-04 19:02] dmitryax opened #140 "Add more comprehensive CI scenarios"
Currently we validate only standalone collector mode with default configuration https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/ci/standalone-collector-values.yaml

We need more test cases to cover as many configuration options as possible

[2022-03-04 19:02] dmitryax commented on #140
@TylerHelmuth can you take this one as well?

[2022-03-04 19:34] TylerHelmuth commented on #140
I'm going to be on PTO all next week, but I can look at it when I'm back if no one else has grabbed it.

[2022-03-04 20:01] TylerHelmuth opened #141 "Add rendered folder with example renders of the charts."
It could be nice to have an example of the rendered charts for customers to visualize the output of running `helm template` or `helm install` without having to do it themselves.  Could also be a nice way for us to visualize the outcome of changes to charts during Pull Requests. Could use 1 or 2 of the example values.yamls from #138 .

Would want to build in something to the Github workflows to ens

[2022-03-05 00:13] #135 closed

[2022-03-05 00:14] dmitryax commented on #140
Sounds good!

[2022-03-07 22:26] TylerHelmuth opened #144 "Add more helm versions to lint-test job."
Catching issues like the one fixed in this PR makes sense. Probably we can have a matrix of popular helm versions in the [lint-test job](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/.github/workflows/lint-test.yaml).

__Originally posted by @dmitryax in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/143#issuecomment-1061039524__

When running the chart te

[2022-03-08 06:18] parth-purohit commented on #114
Hi @TylerHelmuth I tried using the latest version and  still facing the issue  with [opentelemetry-collector-0.9.4](https://github.com/open-telemetry/opentelemetry-helm-charts/releases/tag/opentelemetry-collector-0.9.4)

- Version of the collector having issues: 0.46.0
- Version of the charts being used: 0.9.4
- [standalone-collector-logs.txt](https://github.com/open-telemetry/opentelemetry-helm-c

[2022-03-08 13:55] TylerHelmuth commented on #114
Thanks. I'll be on PTO until next week but I will look when I get back.

Can you include your values.yaml as well?

[2022-03-08 14:07] TylerHelmuth commented on #114
Any chance you have a proxy in your environment that the agent would be interacting with?

[2022-03-10 17:39] geoffreytran opened #145 "Support for priorityClassName on Otel Operator chart needed"
The Operator chart deployment template should support the priorityClassName attribute. This is required in cases where pods are restarted including the operator, the operator should start first before other pods that use auto injection. Otherwise auto injection would not work.

[2022-03-11 04:16] dmitryax commented on #127
Another issue reported https://github.com/open-telemetry/opentelemetry-helm-charts/issues/145

[2022-03-11 04:40] parth-purohit commented on #114
Hi @TylerHelmuth  I tried running it on a different machine and it worked.

Previous machine had some rules blocking traffic so it was failing.

We can close the this issue.

Thanks :)

[2022-03-13 00:15] TylerHelmuth commented on #114
@dmitryax Ready to close.

[2022-03-13 03:36] #114 closed

[2022-03-14 19:42] TylerHelmuth commented on #140
@dmitryax I think it could be nice to test PodMonitor and ServiceMonitor, but they require the Prometheus operator to exist on the cluster.  I we could update the kind cluster creation to also install the operator, but do you think there is good ROI on the time spent to do that?

[2022-03-15 01:16] dmitryax commented on #140
I'm pretty sure it's not. I don't expect it to be that important part of the chart.

[2022-03-15 01:38] TylerHelmuth commented on #140
I figured the same. Submitted the PR without it.

[2022-03-15 16:42] #140 closed

[2022-03-15 18:17] carlosjgp opened #149 "Can't contact OTEL agent daemon set from other PODs without using hostNetwork"
when configuring the environment variables as
[code]

`opentelemetry-collector` chart does not allow to set `hostNetwork` for the DaemonSet which is both useful and required when using some CNIs like Cilium

PR created [here](https://github.com/open-telemetry/opentelemetry-helm-charts/pull/148)

[2022-03-16 16:39] TylerHelmuth commented on #149
Feels like a great feature add to me.

[2022-03-16 23:04] TylerHelmuth commented on #90
@dmitryax Is this something to address after/during the refactor referenced in #91

[2022-03-18 14:06] TylerHelmuth commented on #149
@dmitryax this issue can be closed.

[2022-03-18 17:01] #133 closed

[2022-03-18 17:52] TylerHelmuth commented on #138
I think this is blocked by #90.  I wanted to create an agent example with only the metrics pipeline but can't overwrite the default config so that trace and logs are excluded.

[2022-03-18 17:53] TylerHelmuth commented on #90
Gonna take a look at this now

[2022-03-18 18:09] dmitryax commented on #90
@TylerHelmuth yes, this one will be resolved after the chart configuration interface restructuring https://github.com/open-telemetry/opentelemetry-helm-charts/issues/91

[2022-03-18 18:18] #149 closed

[2022-03-18 18:25] TylerHelmuth commented on #90
Ok I will hold off then.

[2022-03-18 18:43] TylerHelmuth opened #153 "Update opentelemetry-collector chart default image to 0.47.0"
With the 0.47.0 release of the opentelemetry collector we need to update the default chart version to be 0.47.0

[2022-03-18 19:08] #153 closed

[2022-03-20 19:01] TylerHelmuth commented on #91
In addition to a detailed README section on how existing "both" users can transition to the double install I think we should supply some example values.yamls/renders. Could pair well with #141.

[2022-03-20 19:18] dmitryax commented on #91
@TylerHelmuth sounds good. Do you think we should have #141 before this handling this issue?

[2022-03-20 20:16] TylerHelmuth commented on #91
We certainly could, but I was hoping to do #138 before doing #141 but #138 is blocked by this issue. We could complete both issues with less interesting example and then add/adjust the examples once this refactor is done. But the examples in #138 will essentially be exactly like our CI folder until we can improve our override capabilities with this PR.

[2022-03-20 21:38] dmitryax commented on #91
I think currently we can have at least these for use cases:
- agent only configuration
- standalone only configuration
- agent and standalone

They will stay after the refactoring, the third one will be applied as two chart installations which is pretty important use case to illustrate for the transition.

[2022-03-20 21:44] TylerHelmuth commented on #91
Sounds good

[2022-03-20 21:55] chalin opened #155 "Add link to opentelemetry.io under About section"
Under the **About** section of this repo (which you can access from the main repo page -- click the gear icon next to the About title):

- Under **Website**, add https://opentelemetry.io

We're looking to do this uniformly for all OTel org repos.

For example:

[2022-03-21 16:48] TylerHelmuth commented on #138
Narrowing the scope of this to only
- agent only configuration
- standalone only configuration
- agent and standalone
while we work towards #91

[2022-03-24 21:53] #138 closed

[2022-03-24 23:03] #141 closed

[2022-03-30 18:28] dmitryax opened #157 "Remove two-deployment mode"
As agreed in https://github.com/open-telemetry/opentelemetry-helm-charts/issues/91, we need remove the two-deployment mode and simplify the configuration.

Instead of `agentCollector` and `standaloneCollector`, we should have another config option `mode` which can have one of the following values: `daemonset` or `deployment`. All the nested configuration options from `agentCollector` and `standalo

[2022-03-30 18:28] dmitryax opened #158 "Replace default config with config presets"
Instead of providing default configuration, we should have presets of configurations that are applied to the collector. Suggested presets configuration:

[code]

User also must be able to provide their own config that must be applied after all the presets.

[code]

Each of the enabled presets and user custom config can be provided to the collector as a configuration argument, no need to merge them

[2022-03-30 19:09] TylerHelmuth commented on #157
I will take a look at this.

[2022-03-31 16:21] TylerHelmuth commented on #157
If we are willing to break backwards compatibility for both modes enabled, should we just rip the bandaid off and make `agentCollector` and `standaloneCollector` break the install as well?  Since we aren't giving the both-mode-enabled customers a chance to convert before failure should we take that stance across the board and force anyone using this version of the charts to update their values.yam

[2022-04-04 21:56] TylerHelmuth opened #160 "Update opentelemetry-collector chart default image to 0.48.0"
With the 0.48.0 release of the opentelemetry collector we need to update the default chart version to be 0.48.0

[2022-04-05 22:57] alicyn opened #163 "ruby otlp exporter can't send traces to the collector"
I am using the opentelemetry-ruby exporter (otlp).
https://github.com/open-telemetry/opentelemetry-ruby/tree/main/exporter/otlp

We have enabled auto-instrumentation per the app, but the rails application logs are showing these errors:
`E, [2022-04-05T22:37:47.838197 #6] ERROR -- : OpenTelemetry error: Unable to export 499 spans`

The otel collector was installed as a daemonset, and I confirmed it

[2022-04-05 23:10] #160 closed

[2022-04-06 00:23] dmitryax commented on #157
I think majority of the use cases is enabled one mode or another. So I would say we should not break their upgrade

[2022-04-07 17:12] TylerHelmuth commented on #157
The situation I dislike is that since `agentCollector.enabled` is `true` by default, there will be customers the have configurations like:

[code]

which relies on `agentCollector.enabled` to be `true` by default.  To continue to support these customers after this refactor we need to make sure their config continues to work, which means we have to keep `agentCollector.enabled` `true` by default.

[2022-04-07 17:47] TylerHelmuth commented on #163
@alicyn thanks for reporting your issue and experience.

I think you are right that the current default values.yaml does create a daemonset version of the collector that is tricky to interact with 😬.  Can you try installing only the agent again and send data to `http://<Node-IP>:4318`?  The daemonset should be "stealing" port 4318 on the node and and data sent to `http://<Node-IP>:4318` will be se

[2022-04-07 17:56] dmitryax commented on #157
Sorry I don't think I understand your concern. Are you saying that user have to set `agentCollector.enabled: true` in their values.yaml even if they have `mode: daemonset`?

[2022-04-07 18:04] TylerHelmuth commented on #157
If users want to use the `mode: daemonset`, and the other new configurations at the root level such as `resources` or `podAnnotations` they will have to explicitly list `agentCollector.enabled: false` in their values.yaml since we have to keep `agentCollector.enabled: true`  in the chart's default values.yaml to maintain backwards compatibility.

[2022-04-07 18:11] dmitryax commented on #157
What if we don't set `mode` by default and use it to distinguish whether used updated their config or not? The following expression can help with that `eq (toString .Values.mode) "<nil>"`.

- If mode is unset, we use the old format and throw a deprecation warning.
- If mode is set, we completely ignore `agentCollector` and `agentCollector` configurations.

Later we will just drop `agentCollector`

[2022-04-07 18:15] TylerHelmuth commented on #157
Yes I like that a lot.  I will get the PR updated with that strategy, see how it comes out.

[2022-04-13 00:37] juliocleal13 opened #166 "daemonset rollingUpdate"
Hi everyone!
I opened a PR for add custom rollout update in daemonset (agentCollector)
In some cases could be necessary change default values in rollout update.
For example. If I have a big nodes in cluster kubernetes, making ready all pods can take so much time, so in some cases could be necessary change rollout strategy.

[2022-04-13 14:21] sesto opened #167 "Opentelemetry helm chart upgrade from version 0.12.1 to 0.13.1 breaks jaeger traces receiver"
We use 2 receivers in our configuration, jaeger and otel. Jaeger receiver is used to receive traces from traefik ingress controller because it does not support opentelemetry yet.
After helm chart upgrade to version 0.13.1 jaeger traces receiver stopped working in agent collector, while otel collector works as expected.
The following error is logged in the traefik ingress:
`{"level":"error","msg":"

[2022-04-13 15:25] TylerHelmuth commented on #167
Chart version 0.13.1 updated the default collector version to 0.48.0.  I am curious, if you use chart version 0.13.1 but set the image back to 0.47.0 what happens?

[code]

Similarly what happens if you use chart version 0.12.1 but update the collector version to 0.48.0?

[code]

[2022-04-13 19:18] sesto commented on #167
Both 0.13.1 + 0.47.0 and 0.12.1 + 0.48.0 do not work. In fact, these combination are not compatible and produce errors in opentelelmetry-collector:
[code]
Strangely enough, the above mentioned error in the traefik log disappear in both combinations

[2022-04-13 19:34] TylerHelmuth commented on #167
The most recent error makes it seem like the collector is not able to export data to 10.122.0.2:53.  Your setup is currently working on default 0.12.1?

[2022-04-13 20:17] sesto commented on #167
I have tested all combinations again:
version 0.12.1 with default image (0.47.0) works correctly;
all other combinations 0.13.1 with default image (0.48.0), 0.13.1 + 0.47.0 and 0.12.1 + 0.48.0 produce the same error:
[code]
I could not reproduce the very first error
[code]
It was most likely caused by intermittent network issue

[2022-04-13 20:29] TylerHelmuth commented on #167
Is the configuration provided in the description your entire values.yaml?  If not, but you share all of it?  Can you also provide the collector logs?

What triggers this error?  Is it during startup or when data is sent to the collector?

[2022-04-13 20:42] sesto commented on #167
Full values.yaml

[code]

[2022-04-13 20:45] #157 closed

[2022-04-13 20:47] sesto commented on #167
This is the full collector log:
[logs.txt](https://github.com/open-telemetry/opentelemetry-helm-charts/files/8484552/logs.txt)

[2022-04-13 20:50] sesto commented on #167
Also, traces from otel receiver are successfully exported to datadog, while the traces from jaeger receiver are failing

[2022-04-13 21:03] TylerHelmuth commented on #167
The errors I see definitely make me think that the daemonset collector cannot communicate with the deployment collector correctly.  Are both otlp and jaeger traces flowing through the daemonset to the deployment and then to datadog?

Can you provide the logs for the 0.48.0 deployment instance and also a the helm chart 0.12.1 daemonset and deployment logs?

[2022-04-13 21:11] TylerHelmuth commented on #158
The charts now support removing the default config [using null](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/ci/config-override-values.yaml).  User are able to wipe remove all default configuration and replace it with their own.  Does that meet the needs of this issue?

[2022-04-14 06:17] sesto commented on #167
These are the logs of 0.48.0 daemonset instance
[logs_0.13.1.txt](https://github.com/open-telemetry/opentelemetry-helm-charts/files/8486726/logs_0.13.1.txt)

[2022-04-14 06:35] sesto commented on #167
Yes. It is working for otel and not working for jaeger in 0.13.1
If I configure the jaeger receiver in the deployment instance, I am able to send the jaeger traces directly there; it works as expected. But the idea is to use the daemonset

[2022-04-14 14:38] TylerHelmuth commented on #167
@dmitryax what do you think?

[2022-04-14 14:39] TylerHelmuth opened #168 "Update opentelemetry-collector chart default image to 0.49.0"
With the 0.49.0 release of the opentelemetry collector we need to update the default chart version to be 0.49.0

[2022-04-14 14:47] TylerHelmuth commented on #167
I'm inclined to think if it was the charts causing the problem then using collector version 0.48.0 with chart 0.12.1 would work, and if it was the collector causing the issue I'm inclined to think that chart version 0.13.1 with collector version 0.47.0 would work.

[2022-04-14 14:55] TylerHelmuth opened #170 "Root-level replicaCount is ignored in the deplyment template"
A customer posted an issue in the [CNCF Slack](https://cloud-native.slack.com/archives/CJFCJHG4Q/p1649938693739999) about the root-level replicaCount field being ignored during rendering.  Looking at the deployment.yaml template I see that the replicaCount condition is using `:=` instead of `=`.

The deployment.yaml needs to be updated from

[code]

to

[code]

[2022-04-15 05:07] #170 closed

[2022-04-15 06:31] caibirdme opened #172 "use unexposed port to check healthy"
in _pod.tpl
[code]
But port 13133 is not exposed

[2022-04-15 13:54] TylerHelmuth commented on #172
Hello @caibirdme, can you expand on what you mean?   LivenessProbe and readinessProbe ports are normally not exposed in the deployment/daemonset's `ports` section.  [You can see both probes working as expected in our tests.](https://github.com/open-telemetry/opentelemetry-helm-charts/runs/6026270800?check_suite_focus=true) Are you experiencing an issue getting K8s to interact with the probes?

[2022-04-15 13:58] TylerHelmuth opened #173 "NOTES.txt is reporting "Deprecated" warning even when mode is used."
I saw in our tests that there is a "Deprecated" warning for agentCollector and standaloneCollector even when `mode` is used.  Looks like the [entry in NOTES.txt](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/fb487b09f06ff80b5a8d1249a12d1fc653937135/charts/opentelemetry-collector/templates/NOTES.txt#L13) is incorrect.

[2022-04-15 14:21] TylerHelmuth opened #175 "Add test to lint-test workflow that checks installing the daemonset and deployment versions together."
As part of the #157 refactor we lost the ability to test two-deployment mode since it now has to be down with 2 distinct installs.  I don't see a way to do this using [chart testing](https://github.com/helm/chart-testing) so I think we will need to add something to the workflow ourselves that will install the [daemonset-and-deployment example](https://github.com/open-telemetry/opentelemetry-helm-c

[2022-04-15 14:31] Sandeepb-nextcar opened #176 "CrashLoopBackoff error when starting pod"
Error: failed to start container "opentelemetry-collector": Error response from daemon: OCI runtime create failed: container_linux.go:380: starting container process caused: exec: "/otelcol-contrib": stat /otelcol-contrib: no such file or directory: unknown

[2022-04-15 16:59] TylerHelmuth commented on #176
Hello @Sandeepb-nextcar, can you provide more details on the issue you are having?  What version of the charts are you using, what does your values.yaml look like?

[2022-04-15 17:08] Sandeepb-nextcar commented on #176
I deployed otel agent as a daemonset and while starting up i'm seeing Crashloopbackoff error. I'm using the latest version.

Values.yaml
config:
  processors:
    resourcedetection:
      detectors: [env]
      timeout: 5s
      override: false
    k8sattributes:
      passthrough: true
    batch:
      timeout: 10s
  service:
    pipelines:
      traces:
        processors: [batch, resourcedetect

[2022-04-15 17:47] TylerHelmuth commented on #176
What happens if you set `image.tag` to `0.48.0` instead of `latest`

[2022-04-15 17:49] TylerHelmuth commented on #176
Are you running this in k8s or a kind cluster?

[2022-04-15 18:03] Sandeepb-nextcar commented on #176
we are running on EKS, when i ran this yesterday it did pick 0.48.0, however i did apply again today which picked latest but still the same issue.

[2022-04-15 18:53] TylerHelmuth commented on #176
Did this break with helm chart 0.14.1 or is this your first time installing?

[2022-04-15 19:33] Sandeepb-nextcar commented on #176
Nope we had other environment running fine on version 0.8.1

[2022-04-15 19:38] Sandeepb-nextcar commented on #176
and Yes using recent chart version it failed with the error.

[2022-04-15 19:59] TylerHelmuth commented on #176
If you go back to the previous version that was working does it still work?

[2022-04-15 20:15] Sandeepb-nextcar commented on #176
it did work

[2022-04-15 21:30] TylerHelmuth commented on #167
I spent time trying to reproduce this error in a GCP k8s cluster using your values.yaml but have been unable to do so.  The closest I got was when I misconfigured the install and gave it a name so the service was `example-opentelemetry-collector` instead of `opentelemetry-collector` like the agent exporter expects. It was the exact same error though, which is interesting.  can you double check tha

[2022-04-15 21:58] TylerHelmuth commented on #176
I was only able to reproduce this issue on chart version 0.14.1 if `tag` is set to `latest`.  If `tag` is `0.48.0` then I could install your values.yaml as expected.

Here is the yaml I was able to install successfully

[code]

[2022-04-18 15:22] TylerHelmuth opened #177 "Add ability to install collector as a StatefulSet"
The opentelemetry-collector chart should have an option to be installed as a StatefulSet.  This will allow us to better support certain configurations, such as agents sending data via the loadbalancing exporter.

[2022-04-18 17:39] TylerHelmuth commented on #175
I think we can achieve this using the kind cluster, kubectl, and the daemonset-and-deployment rendered examples.

[2022-04-18 22:31] jaronoff97 commented on #69
Running in to a similar issue here! I was using pre-install hooks via helm, however the operator would never reconcile the collector CRD unless i deleted and recreated it post install.

more info from [here](https://cloud-native.slack.com/archives/C033BJ8BASU/p1649968379496599)

[2022-04-18 22:32] jaronoff97 commented on #69
Any updates here? I'm running in to the same problem now (as described [here](https://cloud-native.slack.com/archives/C033BJ8BASU/p1649968379496599))

[2022-04-19 21:15] #173 closed

[2022-04-19 21:43] dmitryax opened #179 "Extract chart specific jobs from lint-test.yaml"
Currently https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/.github/workflows/lint-test.yaml has steps related to one chart or another, and conditions are not always correct. We should consider extracting those steps into other jobs.

[2022-04-19 22:30] dmitryax commented on #167
It seems like k8s DNS is not updated once the chart is upgraded to the new version. So a version shouldn't matter. Look like it caused by an upgrade. Please try to change replace `opentelemetry-collector` in the endpoint to the k8s new service IP address and see if it helps to isolate the issue

[2022-04-19 22:48] TylerHelmuth commented on #179
Are you thinking a workflow for the operator chart and a workflow for collector chart or even more granular than that?

[2022-04-19 22:50] dmitryax commented on #179
I'm thinking of one extra workflow for each of the charts and keeping common tests in the same workflow

[2022-04-20 04:05] dmitryax commented on #69
I don't think anyone is working on it. Any help would be appreciated

[2022-04-20 08:07] sesto commented on #167
Replacing `opentelemetry-collector` by the service ClusterIP doesn't help. Moreover, it breaks the 0.12.1 working deployment.

[2022-04-20 14:52] TylerHelmuth commented on #167
Are you doing fresh installs or `helm upgrade` ?

[2022-04-20 15:31] #175 closed

[2022-04-20 19:30] sesto commented on #167
I am doing ArgoCD sync. It basically does `helm template` and then `kubectl apply`

[2022-04-20 19:35] dmitryax commented on #167
Please try a fresh install with the new version and see it the issue is still appears

[2022-04-20 20:17] sesto commented on #167
Fresh install is seemingly working

[2022-04-20 20:21] sesto commented on #167
Of course, it not a preferred way to do an upgrade in production :) because now it was a test environment.

[2022-04-20 20:22] sesto commented on #167
Anyway, I think we can close the issue. Thanks!

[2022-04-20 20:23] TylerHelmuth commented on #167
Before you close, I am curious what happens if you do a fresh install of 0.12.1 and then follow your upgrade process for 0.13.1.

[2022-04-20 20:23] sesto commented on #167
ok, I will try this

[2022-04-20 20:42] sesto commented on #167
fresh install 0.12.1 -> works
upgrade 0.12.1 -> 0.13.1 -> doesn't work
then fresh install 0.13.1 -> works again
I am wondring why fresh install should be done and upgrade doesn't work

[2022-04-20 20:59] TylerHelmuth commented on #167
Has ArgoCD done any upgrades successfully in the past?  Like 0.11.0 to 0.12.1?

[2022-04-21 07:31] sesto commented on #167
We didn't have any problems with upgrades in the past. But that time we had only `otel` receiver configured. Now we have added `jager` receiver and the problem occurs only with `jager` traces, as it is mentioned in the title of the issue.  No problem with `otel` traces

[2022-04-21 11:06] paulfantom opened #182 "Specify default container in operator pod"
It would be beneficial in terms of UX to annotate operator pod with [kubectl well-known annotation](https://github.com/paulfantom/opentelemetry-helm-charts/pull/new/default-container) to define default container in a pod. This would simplify operations like getting logs from a container as seen below:

[code]

[2022-04-21 18:58] #168 closed

[2022-04-21 18:59] #182 closed

[2022-04-26 05:37] #179 closed

[2022-04-28 03:14] dmitryax commented on #158
Yes, I think we still need to move to the presets as a cleaner way than setting nulls. We already have a preset for logs collection, I think we need to apply similar approach to other use cases.

Some presets can require rendering of other resources not configmap only, e.g. `hostMetrics`

[2022-04-28 04:16] TylerHelmuth commented on #158
Like using the presets to determine if we need to render extra permissions or something?

What do you mean by this?

Finally, if a customer enabled host metrics (or something else also preset) but also defined that component in their config then which wins? I would say their version of the hostMetrics config be what renders in the configmap.

[2022-04-28 04:53] dmitryax commented on #158
hostMetrics requires host volume mounts

Collector can accept many config files https://github.com/open-telemetry/opentelemetry-collector/blob/150c1ede2f7fb5607035d3c7a10bfcab61c39afe/service/flags.go#L47-L48. I think we should supply each preset as another configuration file and let collector do the merging instead of using helm capabilities. Let me know if it makes sense to you

I believe what u

[2022-04-28 04:56] TylerHelmuth commented on #158
To avoid breaking changes I think we'll need a presets for each item in the current default config or presets that encompasses them.

[2022-04-28 05:18] TylerHelmuth commented on #158
Today I learned.

This is an interesting idea. It will certainly reduce logic in the helm chart, but I am initially concerned that by having the collector do the merge the final ending configuration is more obscure. Is it well defined how the collector handles multiple configs if those configs conflict?

[2022-04-28 05:48] dmitryax commented on #158
Right, ideally the set of presets enabled by default should end up in an equivalent config that we have by default now

[2022-04-28 05:54] dmitryax commented on #158
I believe it must be done in a predictable way, same way as helm is doing it (not 100% sure tho):
- Configs that are going later in the command arguments list likely have precedence.
- Maps are merged
- Lists are replaced

All the presets should get their order in the command line in a way that combinations of them works well with each other.

[2022-04-28 14:53] TylerHelmuth commented on #158
I'll take a look at this today, but I am not totally convinced yet about the multiple configs. Concerns I'd like to address:

1. Is their documentation we can link to detailing how multiple configs work
2. Does using multiple configs simplify the charts
3. Are presets easy to understand as a consumer of the chart.  We'd be moving away from explicit configuration and I want to make sure it is still

[2022-04-28 18:00] TylerHelmuth commented on #158
Won't this mean that if someone uses any presets, but also adds their own configuration, they will have to list preset components in their pipeline section?

[code]

I don't love having to list receivers that aren't defined.

[2022-04-28 20:44] TylerHelmuth commented on #158
Thinking more about containerLogs as an example, the main benefit of that field is the ability to build out the complex receiver and setup the k8s stuff.  The fact that it also sets up service.logs.receiver is a "nice-to-have", but will have to get overwritten.  In fact, our daemonset-collector-logs example is actually wrong right now because it doesn't update the logs pipeline's receivers.

I'm g

[2022-04-28 21:07] TylerHelmuth commented on #158
I'm starting to ramble, but here is another consideration:

[code]

I'm not convinced this is better than our current config, but I like that in the scenario that you need to manually defined the component list you can see each component to include.

[2022-04-30 20:30] #3 closed

[2022-05-02 08:15] juissi-t opened #193 "Allow setting lifecycle policies to collector pods"
When scaling down nodes in a Kubernetes cluster, Python services using Opentelemetry libraries tend to hang on shutdown, because the Otel collector pod (daemonset managed) gets terminated before the Python service manages to flush its final traces to the collector.

To make the error less likely, it would be great, if the collector helm chart would allow using Kubernetes lifecycle hooks, so that I

[2022-05-03 14:39] TylerHelmuth commented on #193
Hello @juissi-t, thanks for the issue.

I am not opposed to this feature request, but I am curious about a couple things.

- How long would the collector need to wait before being allowed to shutdown?
- Is there any way to use preStop commands with the existing image to meet these needs?
- Instead of changing the collector image, could the operator be utilized in some way instead?

[2022-05-04 07:00] juissi-t commented on #193
Our API services have a `sleep 5` as their `preStop` hook, so that kube-proxy has enough time to remove them from rotation before SIGTERM signal is sent to them. So in theory, new requests might arrive up to 5 seconds after the worker-to-be-scaled-down sends SIGTERM signals to all pods. After that, the pod still needs to handle any requests in flight. They might take seconds, but a 15 second pause

[2022-05-04 15:50] TylerHelmuth opened #194 "Update opentelemetry-collector chart default image to 0.50.0"
With the 0.50.0 release of the opentelemetry collector we need to update the default chart version to be 0.50.0

[2022-05-04 16:51] TylerHelmuth commented on #193
I think the lifecycle hook is something we can add to the charts, but for your particular needs, I think adding `sleep` to the image is going to be tricky; I don't expect the maintainers of the collector to want to add anything extra to the image.  You should open an issue in [opentelemetry-collector-releases](https://github.com/open-telemetry/opentelemetry-collector-releases/issues) to see what t

[2022-05-05 13:03] juissi-t commented on #193
Yes, I can create a PR for the changes. Will try to work on it tomorrow.

[2022-05-05 18:43] snuggie12 opened #196 "Allow for a setting such as `useExistingConfigMap`"
I see a few other issues (#90 and #158) related to the default config but this is a slightly different approach.

We use other tools to handle creating the config for otel-collector and would like a setting where the helm chart does not create a configmap but uses whatever I input as the configmap to load in.

example can be found here: https://github.com/prometheus-community/helm-charts/blob/ee70

[2022-05-06 08:59] NanyinK opened #198 "Can not see container logs"
Hello,

I would like to enable container logs and I've enabled the values like shown below :
{
mode: daemonset

containerLogs:
  enabled: true

image:
  repository: otel/opentelemetry-collector-contrib

command:
  name: otelcol-contrib
}

but after my agent & standalone are running, there are no contents in the path I mount.( yet I can see the container & log folders were created )

I can see the

[2022-05-06 18:42] TylerHelmuth commented on #198
@NanyinK Thanks for the issue. We moved it here bc it seemed related to the helm charts.

Couple questions:

1. What version of the charts are you using?
2. What does the collector's configmap look like?
3. Does the opened issue contain the entire values.yaml?

I have a suspicion that the collector has the filelog receiver configured but it's not in the logs pipeline.

[2022-05-06 19:09] TylerHelmuth opened #199 "Remove Deprecated agentCollector and standaloneCollector configuration"
The `agentCollector` and `standaloneCollector` configuration sections in `values.yaml` were deprecated as part of the 0.14.0 release of the charts (#159). These sections should be removed from `values.yaml` and all references to them in the templates should be cleaned up.  `NOTES.txt` should be updated to fail any install that attempts to use `agentCollector` or `standaloneCollector`.

This work s

[2022-05-06 19:10] TylerHelmuth commented on #196
@snuggie12 thanks for the request.  Do you want to work on this?

[2022-05-06 19:15] TylerHelmuth commented on #158
Reflected on this issue over the last week, I retract my concerns over using presets; we definitely should be using presets.

For the format of how to do presets, I think I like the "by component" version, as it makes it most clear with component(s) need to be added to pipeline(s) when custom configuration is introduced or disabled-by-default presets are enabled.

[2022-05-06 19:17] dmitryax commented on #196
This must be resolved by presets.

1. disable default presets
2. provide custom config

cc @TylerHelmuth

[2022-05-06 19:23] dmitryax commented on #158
I think the per-component presets makes it too granular and confusing. It moves presets idea the the field that should be controlled by custom configuration :)

I believe presets must be per-story. The highest level presets should control pipelines. Each pipeline-preset can have sub-presets for particular features: e.g `hostMetrics`, `selfScraping` in metrics and `logsCollection` in logs

[2022-05-06 19:27] dmitryax commented on #158
As discussed in the triage session, presets shouldn't end up as different configuration arguments, helm templating should be used to compose one configuration from presets and default config.

Also we decided to wait until backward support of `agentCollector` and `standaloneCollector` configs is gone. It's scheduled for removal at 0.52.0 version of the collector

[2022-05-06 19:28] TylerHelmuth commented on #196
@dmitryax that would work, but this issue reads to me like they don't want the helm chart generating a configmap at all.  Sounds like that want an option for the collector to not generate a configmap and let them provide their own values for

[code]

and

[code]

[2022-05-06 19:41] dmitryax commented on #196
Oh, ok. That sounds reasonable. We can support this option

[2022-05-06 19:45] TylerHelmuth commented on #158
I agree that this approach takes advantage of the concept of a preset the most.  But I am concerned about the usability of it combined with any custom configuration.

If a user enabled the metrics preset (which would include otlp, and prometheus) and also configured something like the `kubeletstatsreceiver`, how would they know that they need to add `[otlp, prometheus, kubeletstats]` to the metric

[2022-05-06 19:58] dmitryax commented on #158
Potentially we could consider applying _upsert_ list merge for the lists created by presets. It can work well for service->pipelines lists, but it might be confusing behavior for the configuration lists where override is expected.

[2022-05-06 20:04] TylerHelmuth commented on #158
I thought helm had no way to merge lists.  If we wanted to upsert wouldn't we have to switch from arrays to maps?  If it can merge lists, I think that would solve all my concerns around the service.pipelines.

Not sure what you mean by this.

[2022-05-06 20:07] dmitryax commented on #158
It's not possible by direct merge operation, but there are other operators e.g. concat + unique http://masterminds.github.io/sprig/lists.html

[2022-05-06 20:10] dmitryax commented on #158
There are probably some parts of the otel configuration where upsert operation on list would be not expected. E.g. if user wants to reduce list of detectors set by a preset: http://masterminds.github.io/sprig/lists.html

[2022-05-06 20:14] dmitryax commented on #158
I'm still not 100% sure what should we do for lists. Overriding seems like a clean way but maybe not easy to use when in case of presets + default config.

[2022-05-06 21:42] #194 closed

[2022-05-06 22:04] TylerHelmuth commented on #158
I think we're gonna have to override and make sure users know how to do it properly.

[2022-05-07 01:48] NanyinK commented on #198
Hi @TylerHelmuth ,

Please take a look at the answers below :

1. What version of the charts are you using?
0.6.9
2. What does the collector's configmap look like?
It's the default one, I didnt change anything in the configmap. I just modified the mode & the host mount path in _pod.tpl
3. Does the opened issue contain the entire values.yaml?
I'm afraid I didnt get this question, shall I upload the

[2022-05-07 09:27] NanyinK commented on #198
FYI, this is the agent configmap :
===========================================================

Name:         ot-collector-agent-opentelemetry-collector-agent
Namespace:    ot
Labels:       app.kubernetes.io/instance=ot-collector-agent
              app.kubernetes.io/managed-by=Helm
              app.kubernetes.io/name=opentelemetry-collector
              app.kubernetes.io/version=0.49.0

[2022-05-07 15:11] TylerHelmuth commented on #167
@sesto can this issue be closed?

[2022-05-07 15:12] TylerHelmuth commented on #158
Tracked in Issue #199

[2022-05-07 15:21] TylerHelmuth commented on #198
I believe my suspicion is correct, the filelog receiver is not in the logs pipeline.

This can be fixed by adding it to your .Values.config

'''yaml
config:
  service:
    pipelines:
      logs:
        receivers:
          - otlp
          - filelog
'''

[2022-05-07 15:25] TylerHelmuth commented on #198
Also, it is strange that your chart version is 0.6.9 as that is the opentelemetry-operator chart latest release, but your values.yaml and configmap look like they are from the opentelemetry-collector chart.  What command are you using to install the chart?

[2022-05-07 15:26] sesto commented on #167
Well, I still have problems. Now it stopped working even, if I do a clean install. But no matter what the otel receiver works. The problem is only with the jaeger receiver. I am kind of giving up

[2022-05-07 15:47] NanyinK commented on #198
Hello @TylerHelmuth

I'm afraid that it has already been added there by default (in the _config.tpl)
![image](https://user-images.githubusercontent.com/66045363/167261689-486b467a-6aa1-47ff-8433-118a9d7dcd71.png)
is it the correct file to add ?

and for the version, sorry it's 0.15.1

[2022-05-07 15:53] TylerHelmuth commented on #198
You're correct that it is there in _config.tpl, but in the same file where the template is used, you can see that whatever is in .Values.config overrides the template. Checkout #199 for an explanation on why this is happening and how to fix it.

[2022-05-09 01:44] NanyinK commented on #198
Hi @TylerHelmuth

I think I get you, yet could you tell me how to add it to my .Values.config?

Sorry I'm new to helm, and not familiar with it. I’m also googling to find the way.

[2022-05-09 02:00] NanyinK commented on #198
also I tired to add it here (in the last line)

[code]

but I get this error when running it
[code]

[2022-05-09 07:09] NanyinK commented on #198
[ot-collector-agent.tar.gz](https://github.com/open-telemetry/opentelemetry-helm-charts/files/8649461/ot-collector-agent.tar.gz)

this is my helm chart, could you please take a look if needed.

[2022-05-09 08:35] NanyinK commented on #198
I also changed the value in examples (add logfile there)
[charts/opentelemetry-collector/examples/daemonset-collector-logs/values.yaml]

but the issue is still there.

[2022-05-09 13:05] juissi-t commented on #193
Pull request ready for review.

[2022-05-09 15:08] TylerHelmuth commented on #198
I'm not sure how you are using helm, but it is non-standard to have the charts in a folder named `ot-collector-agent`.  Normally you add a chart repository to helm using the `helm repo add` command.  This will let you interact with the chart via `helm install` or `helm template` commands.  Also, chart users normally only configure the output of a chart via the `values.yaml` file; it is not best pr

[2022-05-10 01:21] NanyinK commented on #198
Hi @TylerHelmuth

Sorry but after I did what you say I still got the same error

[code]

This is the command I used :
` helm install ot-agent open-telemetry/opentelemetry-collector --values values.yaml`

I copied the content from yours and ran that.

[2022-05-10 15:21] TylerHelmuth commented on #198
I dug into this today and found that a release of opentelemetry-logs-collection, which filelog uses, had some breaking changes that are affecting the chart's configuration of the filelog receiver.  I will get the charts updated.  Thanks for finding the issue!

[2022-05-10 23:48] TylerHelmuth commented on #198
@NanyinK can you try with chart version 0.16.2?

[2022-05-12 02:27] NanyinK commented on #198
Hi @TylerHelmuth

It works, thank you !

[2022-05-12 03:00] TylerHelmuth commented on #198
Awesome! Can this issue be closed?

[2022-05-12 03:39] NanyinK commented on #198
@TylerHelmuth

Sure mate, it can be closed.

[2022-05-12 05:07] #198 closed

[2022-05-13 08:37] ben-natan opened #203 "Ability to add a PrometheusRule"
It would be nice being able to add a PrometheusRule for prometheus alerting.

The pipeline I'm working on uses Grafana Tempo which already supports this in its [tempo-distributed chart](https://github.com/grafana/helm-charts/tree/main/charts/tempo-distributed); adding such a feature to the opentelemetry-collector chart would allow seamless integration of Prometheus alerting for the whole pipeline.

[2022-05-13 08:38] ben-natan commented on #203
Ongoing PR: https://github.com/open-telemetry/opentelemetry-helm-charts/pull/202

[2022-05-13 14:40] TylerHelmuth commented on #203
I don't think PrometheusRule is a native k8s object, what is defining it?  Is it the Prometheus Operator?

[2022-05-13 20:06] lamebear opened #204 "Default filelog receiver config causes failure"
When running with the default `filelog` receiver config, the following error is thrown when attempting to process log entries:

[code]

That error corresponds to this operator:
[code]

Can this be removed?

[2022-05-13 20:43] lamebear commented on #204
Had to recreate the PR to change the commit user.

[2022-05-13 20:52] #193 closed

[2022-05-13 20:54] dmitryax opened #207 "Set `k8s.container.restart_count` attribute instead of run_id in filelog receiver"
`k8s.container.restart_count` defined in the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/k8s.md#container) should be used instead of `run_id`.

[2022-05-13 20:59] dmitryax commented on #204
I believe the error is thrown because we are trying to move it from the same place. I think we should just rename it to the name defined in semantic conventions Currently, this change doesn't remove it from attribute

[2022-05-13 21:00] lamebear commented on #207
`k8s.container.restart_count` is already included in the generated config:

https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/templates/_config.tpl#L191-L193

[2022-05-13 21:02] dmitryax commented on #207
Oh my bad. Didn't notice that. Thanks for pointing me to it

[2022-05-13 21:02] #207 closed

[2022-05-13 21:39] TylerHelmuth commented on #204
The [contrib's example ](https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/examples/kubernetes/otel-collector-config.yml) doesn't have that stanza for `run_id`.  I didn't experience any errors with the charts running in GCE, but maybe `run_id` is not ok in other environments?

[2022-05-13 21:53] #204 closed

[2022-05-16 09:21] ben-natan commented on #203
It is a Prometheus CRD, just like PodMonitor and ServiceMonitor already present in this chart.

[2022-05-16 17:50] #163 closed

[2022-05-17 11:19] dudicoco opened #208 "memory_limiter configuration"
Hi,

The chart configures the memory parameters for `memory_limiter` automatically as a percentage of the defined resource limits via templating functions: https://github.com/open-telemetry/opentelemetry-helm-charts/blob/ce2098bfb05a269a6b1cc53d9aff29c352f94a91/charts/opentelemetry-collector/templates/_config.tpl#L8-L12

I was wondering why `limit_percentage` and `spike_limit_percentage` were not

[2022-05-17 15:41] TylerHelmuth opened #209 "Update opentelemetry-collector chart default image to 0.51.0"
With the 0.51.0 release of the opentelemetry collector we need to update the default chart version to be 0.51.0

[2022-05-18 21:56] TylerHelmuth commented on #208
I don't have a reason other than that the current solution is working so there hasn't been a push to change it.  Are you experiencing an issue with the current solution?

I like the idea of simplifying the _config.tpl file, there is currently a lot of logic going into the limit setting.  If percentages would produce the same end result it could be a great change.

[2022-05-19 02:51] MicahDevOps opened #211 "Can't send metrics to otel collector"
Can anyone help me look into this issue? My applications seem failing to send metrics to otel collector.
I have done some research on Google but turn out not helpful to solve the problem since those articles are talking about workloads running on local host with docker-compose

1.My applications (Pods) is running with [open telemetry java agent ](https://github.com/open-telemetry/opentelemetry-jav

[2022-05-19 08:58] dudicoco commented on #208
@TylerHelmuth this is actually an issue in the collector repo as well: https://github.com/open-telemetry/opentelemetry-collector/blob/c368d497a2046011da4a39ee977ceed5f841c266/examples/k8s/otel-config.yaml#L28-L33

I wonder if even the percentage parameters work properly with detecting k8s resource limits?
I didn't try these myself yet so I have no idea if they do.
It also doesn't state if these we

[2022-05-19 15:00] TylerHelmuth commented on #211
Hello @MicahDevOps.

The collector's localhost:8888/metrics endpoint is how it exposes is own metrics; you'll never see data it is processing at that endpoint.

Instead, for the logging exporter, set the `loglevel` to `debug`, and you'll see the data the collector is processing in all the pipeline's for which the logging exporter is added.

You are correct that if java is exporting on OTLP then th

[2022-05-20 02:03] MicahDevOps commented on #211
Thanks for your guide. After setting loglevel to 'debug', i can see metrics from my application displaying in collector's logs.
But, how can i visualize the metrics ?

I am using Grafana Loki as the log driver ,Grafana Tempo as tracing backend and prometheus for metrics.
How can i show the metrics (now showing in collector's log) to backend ,like prometheus ?

And BTW,Yes, i am installing the otel

[2022-05-20 02:28] MicahDevOps commented on #211
Hello @TylerHelmuth
I am using the helm chart.
After setting the loglevel to debug, i can verify that metrics from my applications exactly display in collector's logs.
And i add a prometheus exporter like

exporters:
   prometheus: 0.0.0.0:8889
   namespace: default

From my Prometheus side, i can pull my application metrics  from host "otel-collector:8889"

However, i still have a question. The v

[2022-05-20 15:21] TylerHelmuth commented on #211
Great! Can this issue be closed?

[2022-05-22 15:46] dudicoco commented on #208
I've tested `limit_percentage`, `spike_limit_percentage` and the `memory_ballast` `size_in_percentage` parameters with k8s and they are all working as expected.

[2022-05-22 16:15] TylerHelmuth commented on #208
Great! Are you able to post any test results?

[2022-05-22 18:26] dudicoco commented on #208
Sure.

Container resources:
[code]

Config file:
[code]

Container logs:
[code]

[2022-05-22 18:52] TylerHelmuth commented on #208
We're you able to stress the collector and observe it's memory being limited by the percent set?

[2022-05-22 19:27] #203 closed

[2022-05-22 20:01] dudicoco commented on #208
I've reduced both the container's resources and the `memory_limiter` percentage values and the memory was limited:
[code]
[code]

[2022-05-23 05:35] MicahDevOps commented on #211
yes, please. And thanks again

[2022-05-23 05:35] #211 closed

[2022-05-24 01:41] dmitryax commented on #208
The limits that the percentage-based configuration is using are taken from Linux cgroups. I'm not sure that k8s limits are always properly reflected. And we should make sure it work on windows as well.

@TylerHelmuth this should probably be a part of another preset along with `memory_ballast`?

[2022-05-24 01:47] TylerHelmuth commented on #208
Ya I had the same thought. Once presets are in place this is a natural option to add. I wasn't gonna delay until then tho because we still have to remove agentCollector and standaloneCollector before we switch to presets and there is still work to do there too. If this gets in first I'll convert it into a preset.

[2022-05-25 16:58] abelperezok opened #214 "Allow using custom ports for metrics, health checks and proxy"
This is very helpful when using in combination with `hostNetwork:true` especially if you have several other add-ons already in the cluster where they also chose the same ports, an example of that is using Calico CNI on EKS.

An example where this is already done is AWS Load Balancer Controller, https://github.com/kubernetes-sigs/aws-load-balancer-controller/tree/main/helm/aws-load-balancer-control

[2022-05-25 18:13] TylerHelmuth commented on #214
That seems like a good feature add.  Is it something you want to contribute @abelperezok?

[2022-05-25 18:24] abelperezok commented on #214
@TylerHelmuth Yes, I could do that, I've done something similar on the DAPR project for the same reason. https://github.com/dapr/dapr/pull/4181

[2022-05-25 18:29] TylerHelmuth commented on #214
Sweet I'll assign this issue to you.

[2022-05-26 04:06] TylerHelmuth commented on #199
0.52.0 has been released. I will get started on this.

[2022-05-27 08:33] theodrim opened #217 "Posibility to use daemonset along with the service."
Hello. I was wondering is it possible to have mode set to `daemonset` and have service available at the same time?
I'm asking about opentelemetry-collector helm chart.

[2022-05-27 12:30] TylerHelmuth commented on #217
The charts do not currently support a service with mode=daemonset. What use case did you have in mind?

[2022-05-27 15:06] theodrim commented on #217
@TylerHelmuth replacing `node-exporter` but since our cluster using spot instances - it would be reasonable to use daemonset to assume that every new node gets `opentelemetry-collector` deployed.
Unless I'm missing something and metrics still can be scraped even without the service?

[2022-05-27 15:33] TylerHelmuth commented on #217
I might have interpreted this question incorrectly. Are you referring to scraping the collectors metrics on itself
 (0.0.0.0:8888/metrics) ?

[2022-05-29 13:51] abelperezok commented on #214
@TylerHelmuth I'm preparing a PR for this issue, while at it I found that the webhook port was hardcoded inside the manager, so I opened another issue and submitted a PR in the operator repo for that.

In order for my proposed changes in the helm chart to work, the new CLI flag will need to be already in place in the corresponding container image.

[2022-05-29 14:21] TylerHelmuth commented on #214
Are you planning to contribute this to the opentelemetry-collector chart, opentelemetry-operator charts, or both?

[2022-05-29 14:42] abelperezok commented on #214
@TylerHelmuth if my understanding is correct, this is feature is limited to the operator (chart and code). Do you think there are changes also required in the collector ?

[2022-05-29 14:43] abelperezok commented on #214
The changes in operator code are in this PR (https://github.com/open-telemetry/opentelemetry-operator/pull/899) awaiting review

[2022-05-29 15:24] TylerHelmuth commented on #214
Conceptually the collector chart could have its readiness and liveliness ports configurable, although the use cases would be minimal. Doing it only for the operator chart is probably the best.

[2022-05-29 16:47] abelperezok commented on #214
@TylerHelmuth the PR has been submitted now, with regards chart versioning, what do you advise ?

[2022-05-29 17:48] TylerHelmuth commented on #214
If there is nothing breaking previous versions then bumping only the patch number is good.

[2022-05-29 18:10] abelperezok commented on #214
Well, to get the full benefit from this update, it depends on the next version of the operator to be published, the current version (v0.51.0) doesn't have the extra CLI flags available.
Not sure if that justifies a bump in minor version.

[2022-05-29 18:37] TylerHelmuth commented on #214
Bumping the operator version does require bumping the chart's minor version. It should also be done in its own PR.

[2022-05-29 18:42] abelperezok commented on #214
Thanks, in that case, I'll put this on hold until the operator updates are published, then I'll bump the version and complete the chart update. Does it sound good to you ?

[2022-05-29 21:03] TylerHelmuth commented on #214
Sounds good

[2022-05-30 07:08] theodrim commented on #217
(0.0.0.0:8888/metrics) ?

Probably. I've initially though that it is possible to have only agent exposing metrics by itself (as having `mode: deployment` and service enabled giving desired results) but now realizing that collector might be required to have external scraping done by prometheus at first and vmagent later.

Is my understanding correct, that having `opentelemetry-agent` with `mode: da

[2022-05-30 14:06] TylerHelmuth commented on #217
I think it would be possible for a deployment instance of the collector to scrape the telemetry of the agent instances, but the current charts set up the collector to scrape itself: https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/examples/daemonset-only/rendered/configmap-agent.yaml. When deployed as a daemonset (or a deployment) the default con

[2022-05-30 15:03] kostya9 commented on #217
I have another use case which could benefit from service for daemonset.

Imagine that apps could be both in a k8s cluster and not (e.g. in the process of migrating or for some other reason some apps are outside of the cluster). As a developer, I want to send tracing data from inside and outside of the cluster to the collectors.

[2022-05-30 15:21] TylerHelmuth commented on #217
In this scenario running a deployment instance of the collector in addition to a daemonset seems like the correct approach. Applications inside k8s would send traces to the daemonset (and the daemonset would forward to the deployment if necessary). Applications outside the collector would send directly to the deployment.

[2022-06-01 17:49] lorelei-rupp-imprivata opened #220 "Helm Chart for the Operator Collector CRDs"
We use the helm chart to roll out the operator, but are making our own helm chart to roll out the operator's CRDs for the collector
Is there any plans to have a helm chart that goes with the operator to roll out the operator CRDs for the collectors?

[2022-06-01 18:16] abelperezok commented on #214
@TylerHelmuth the PR https://github.com/open-telemetry/opentelemetry-operator/pull/899 was merged and therefore issue https://github.com/open-telemetry/opentelemetry-operator/issues/896 was closed.
I reckon those changes will available with the next release.

[2022-06-06 20:24] shinkle-procore opened #222 "Hostmetrics causes "invalid configuration" error despite being correctly configured"
I'm using opentelemetry-collector-contrib version 0.51.0 with opentelemetry-helm-charts v0.18.0. Running as daemonset.

I have the following block set up in `values.yaml` under agentCollector -> configOverride -> receivers:

[code]

Upon deploying it, I get the following error message:

[code]

If I comment out the hostmetrics block, the agent runs with no issues.

I've tried many combinations of

[2022-06-06 22:50] TylerHelmuth commented on #222
Can you run a template command and post the resulting configmap-agent.yaml?

[2022-06-06 23:03] shinkle-procore commented on #222
[code]

[2022-06-06 23:05] shinkle-procore commented on #222
Interestingly, this is applying defaults I wasn't even aware of... for example it imposes `limit_mib: 3276` in the memory limiter when I only defined a limit_percentage in my config.

[2022-06-07 05:49] AnujAroshA opened #223 "Disable metrics and logging pipelines is not working as expected in Helm chat 0.18.0"
As mentioned in the [basic top level configuration section in the document](https://artifacthub.io/packages/helm/opentelemetry-helm/opentelemetry-collector#basic-top-level-configuration), we have set _null_ values as below.

[code]
But when I see the ConfigMap it shows all the pipelines.

[code]

What we need is to get rid of _logs_ and _metrics_ and keep only _traces_.

Following are details of m

[2022-06-07 14:18] TylerHelmuth commented on #223
Are you using "mode" or "agentCollector"/"standaloneCollector"?

[2022-06-07 14:22] TylerHelmuth commented on #222
The charts don't know how to handle the limit_percentage field. It will always try to set a mib limit: https://github.com/open-telemetry/opentelemetry-helm-charts/issues/208

[2022-06-07 14:25] TylerHelmuth commented on #222
[Please convert to using "mode" and then try again.](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/UPGRADING.md) Also, take a look at the hostmetrics example:  https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-collector/examples/daemonset-hostmetrics

[2022-06-07 17:48] shinkle-procore commented on #222
Hi Tyler, thanks for the suggestion. I did follow the instructions and convert to "mode". I also copied the example receiver block you referenced, but unfortunately I'm still getting the same error after re-deploying. Below is what the `helm template` output looks like after my updates. Note for some reason the generated hostmetrics block contains lines like `cpu: null` instead of the way I entere

[2022-06-07 18:39] shinkle-procore commented on #222
So it looks like it's behaving differently in different environments. The environment that's giving it trouble is through our continuous deployment product which is using Helm `v3.7.1+g1d11fcb`. When I run it locally on `v3.8.0` it seems to work fine? I don't know if that's the cause, or if there's something else going on and the version difference is incidental. Anything you're aware of that coul

[2022-06-07 19:17] TylerHelmuth commented on #222
My guess is that it is the helm version but I haven't read through any patch notes to confirm. 3.7.1 is from October 2021, and our CI and our development is done with >= 3.8. There is an open issue to make the CI test with older helm versions but it has not been addressed yet: https://github.com/open-telemetry/opentelemetry-helm-charts/issues/144

[2022-06-07 22:46] shinkle-procore commented on #222
I see. Well, we just tried updating our deployment product to use Helm `v3.8.0+gd141386` and we're still getting the same error message as I got originally. Any other possible causes that you can think of?

[2022-06-07 22:56] shinkle-procore commented on #222
When I look at the ConfigMap in our live cluster, I see:

[code]

Meaning it's somehow not reading the config I set up.

[2022-06-07 23:12] shinkle-procore commented on #222
It seems that ArgoCD (the continuous delivery platform we're using) doesn't understand the structure:

[code]

It's basically treating that `cpu:` block as null and removing it entirely rather than keeping it in. Is there some other way we can write the OTel configuration so that it's not "empty" like this?

[2022-06-08 00:35] TylerHelmuth commented on #222
Good to hear it's not a helm version issue.

I am not familiar with ArgoCD. It is strange that it is removing the scrappers as "cpu:" is valid yaml syntax.

You might try checking the hostmetric scrapper configuration and setting what settings each scrapper uses by default and set one of those just so ArgoCD doesn't think it is null.

Better yet, figuring out why ArgoCD is mistreating that field w

[2022-06-08 13:35] sherifkayad opened #224 "open-telemetry-collector | New Deployment Mode `statefulset` to cater for Persistent Queues / File Storage"
## Current Status
It seems like the current chart lets one decide if they need the OTLP Collector deployed in a `deployment` mode or a `daemonset` mode; in which that would translate to either a Kubernetes `Deployment` or `DaemonSet` respectively.

Neither of those modes is well suited for a `volumeClaimTemplate` that can dynamically allocate the required `PersistentVolume` / `PersistentVolumeClai

[2022-06-08 13:46] sherifkayad commented on #224
oh yeah .. sorry didn't see that. Closing this one!

[2022-06-08 13:46] #224 closed

[2022-06-08 13:49] sherifkayad commented on #177
Some notes from the duplicate ticket:
- These certain configurations include the Persistent Queues feature of the exporters or the File Storage extension to prevent "circumstantial" data loss whenever there's a problem with the backend and at the same time, the Collector restarts.
- The Helm chart should:
  - Allow defining persistence specs for the `StatefulSet` (e.g. the storage class, the stora

[2022-06-08 15:57] TylerHelmuth commented on #223
I was able to run this command and successfully disable the logs and metrics pipeline

`helm template testing open-telemetry/opentelemetry-collector --values ./charts/opentelemetry-collector/examples/deployment-otlp-traces/values.yaml`

[code]

I was also able to remove logs and metrics pipeline when using standaloneCollector and agentCollector.

Can you provide more details on the commands you ar

[2022-06-08 20:51] shinkle-procore commented on #222
Yeah, some of the scrapers have parameters that can be set, but I think not all of them (at least, none are documented).

Agreed that there's an Argo issue going on here, which we've also brought to their attention. Thank you so much for your help!

[2022-06-08 20:51] #222 closed

[2022-06-08 22:57] #199 closed

[2022-06-08 23:08] TylerHelmuth commented on #158
`agentCollector` and `standaloneCollector` have been removed, so I will start working on this again.

[2022-06-09 01:19] hex1848 opened #225 "Update open-telemetry-collector chart image to 0.53.0"
The opentelemetry-collector and opentelemetry-collector-config repos got updated to 0.53.0.   The opentelemetry-collector chart should be updated to reflect this change.

[2022-06-09 02:55] #225 closed

[2022-06-09 23:12] mayoatte commented on #81
I think this would solve a problem we are having at the moment. We need to configure some applications to point to the open telemetry collector (app pods are on the same node as the daemonset pod) in a static way (can't use environment variables). We are having a hard time getting this working because we can't use the downward api.

[2022-06-10 01:31] dmitryax commented on #81
Ok, it sounds reasonable. Feel free to submit a PR

[2022-06-13 10:14] AnujAroshA commented on #223
My values file related to otel-collector part is as below
[code]

[2022-06-13 14:24] TylerHelmuth commented on #223
I am able to use your values.yaml and turn off metrics and logs.  Here is the resulting configmap after running `helm template opentelemetry-collector open-telemetry/opentelemetry-collector --values ./values.yaml --output-dir testing`

[code]

What command are you using?

[2022-06-13 21:13] TylerHelmuth opened #227 "Updated opentelemetry-operator chart default version to 0.52.0"
With the 0.52.0 release of the opentelemetry operator we need to update the default chart version to be 0.52.0

[2022-06-14 07:13] JaredTan95 opened #228 "Additional property enabled is not allowed with Json Schema validation."
I use opentelemtry-collector chart as a subchart like this:

[code]

and my `values.yaml` as following:

[code]

[code]

but I got some errors:

[code]

I think it caused by this https://github.com/open-telemetry/opentelemetry-helm-charts/blob/7b9f67bd6e1c9280deb7132edd091b5714f70bdb/charts/opentelemetry-collector/values.schema.json#L5

maybe set it to `true` can fix it.

[code]

related issue:
-

[2022-06-14 13:30] jaronoff97 commented on #227
We also need the updated CRDs from the 0.52.0 release. Thank you!

[2022-06-14 15:22] TylerHelmuth commented on #228
The error is coming from the fact that `enabled` is being passed in to the chart in the root of the values.yaml but `enabled` is not a valid field in the chart's values.

What is the purpose of `enabled` in this context?  The opentelemetry-collector chart has no knowledge of that field and will not respect it being true or false.  Is something else expecting that field and making decisions using i

[2022-06-15 00:58] JaredTan95 commented on #228
Sorry, I lost this in dependencies config:

[code]

We can use `--set opentelemetry-collector.enabled=true`  to decide whether to install opentelemetry-collector or not.

[2022-06-15 07:26] AnujAroshA commented on #223
Command I used
`helm template otel helm/values.local.yaml --output-dir testing`

Chart.yaml Otel related configuration

[code]

One thing that I noticed is, we are pointing to `apiVersion: v2` and seems you are pointing to `v1`

I have added the values.yaml changes in a previous comment.

[2022-06-15 08:20] abelperezok commented on #214
@TylerHelmuth There has been a new release of the operator https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.52.0 which includes my changes.

Which change should I submit first ?
- bumping the operator version to v0.52.0 and chart version to 0.8.0
- updating the chart to use the new cli flags

[2022-06-15 14:48] TylerHelmuth commented on #214
Everyone seems eager for 0.52.0 haha there are already 2 other people who have submitted PRs for https://github.com/open-telemetry/opentelemetry-helm-charts/issues/227.  I'd say the new cli flags since others are doing the version bump.

[2022-06-16 04:38] AnujAroshA commented on #223
Yes, I'm using opentelemetry-collector as a dependency chart just like I show in the [previous comment](https://github.com/open-telemetry/opentelemetry-helm-charts/issues/223#issuecomment-1156090699).
In that Chart.yaml we are using `apiVersion: v2`.
Also the Helm version is `v3.9.0`

[2022-06-16 17:10] TylerHelmuth commented on #223
Maybe related to https://github.com/helm/helm/issues/9027

[2022-06-17 16:17] TylerHelmuth commented on #127
@jaronoff97 and @abelperezok would you be interested in taking a more active role in the operator chart?

[2022-06-17 16:45] #227 closed

[2022-06-20 14:12] TylerHelmuth commented on #155
Done

[2022-06-20 14:12] #155 closed

[2022-06-20 14:15] #214 closed

[2022-06-20 14:36] Allex1 opened #238 "controller-manager fails to start with admissionWebhooks disabled"
Context:
We need the operator to start without webhooks enabled as we are running in a multi tenant Kubernetes platform where webhooks are currently disabled for users. We still want to use the operator for creating opentelemetry-collector deployments which do not require webhooks.

When trying to start the controller-manager with `admissionWebhooks.enabled=false` or `admissionWebhooks.certManager

[2022-06-21 08:30] Allex1 opened #239 "Make ClusterRoles deployment configurable"
In some multi tenant Kubernetes environments the user cannot load the ClusterRoles and ClusterRoleBindings during normal deployment. In this case we sideload them  via a different process before the actual helm deployment. For this to be possible we should have a feature flag (enabled by default) that allow the use to choose whether to load these resources while deploying the helm release.

[2022-06-24 09:10] Tobrek opened #242 "health_check extension mandatory"
Currently the health_check extension is kind of mandatory to be enabled, because the livenessProbe and readinessProbe can't be disabled, when the health_check extension should not be used. But without the extension the checks fail and the running pod is never healthy.

If i set in values.yaml
[code]
i get (regardless if contrib is used or not)
[code]

Allowing just the health_check extension
[code

[2022-06-25 03:32] #239 closed

[2022-06-25 03:32] #238 closed

[2022-06-27 05:53] Allex1 opened #243 "prevent unused resources creation when admissionWebhooks are disabled"
Some web-hooks ports/services are still initialised even when admissionWebhooks are disabled.

[2022-06-27 18:50] #243 closed

[2022-06-28 17:34] TylerHelmuth commented on #242
I think you are correct.  If the health check extension is not enabled then the hardcoded probes will not work.  We should add a way to modify the probes so that disabling the health check extension is possible.  Would you like to work on that?

[2022-06-28 17:36] TylerHelmuth commented on #242
@dmitryax I think this scenario will have some influence on #158.  If we allow `.Values.config` to override all presets, then we need a way to handle the probes accordingly.  Almost makes me want to go back to presets  per component 😭.

[2022-06-28 19:19] TylerHelmuth commented on #242
Is this for sure?  Can't you technically deploy something without liveliness and readiness probes?  Probably not a good idea but I think you can.

If we want to prevent bad practices and enforce the best practices of liveliness and readiness probes via the chart then we should also make it clear somewhere that health_check is a required extension and should not be removed.

[2022-06-28 19:22] dmitryax commented on #158
I like this idea. We can provide two configuration options:
1. A simple one with presets. Used by default
2. Using a custom config. If applied, all the presets and default config are ignored.

We can deprecate `.Values.config ` and use something like `.Values.customConfig` or `.Values.configOverride` instead

[2022-06-28 19:23] dmitryax commented on #242
You can, but why? Is there a real life reason for that?

[2022-06-28 21:49] TylerHelmuth commented on #158
@dmitryax I think to be backwards compatible we'll have to keep the existing `.Values.config` and use it as it is today, setting all the new preset values to false by default.  Then if any of the presets are enabled they will take precedence over `.Values.config`, and then if `.Values.configOverride` is used it takes precedence over everything.

Following the same strategy as agentCollector/standa

[2022-06-28 21:51] dmitryax commented on #158
Sound like a good plan.

[2022-06-28 21:59] TylerHelmuth commented on #158
@dmitryax the only downside to this plan is that users will lose the convenience of the presets pretty quickly.  For example, if a user wants to use the `hostmetricsreceiver`, the presets take care of the extra mounts for you which is great.  But the second you want to customize the `hostmetricsreceiver`, maybe something as small as changing the interval, you'll have to use the `.Values.configOver

[2022-06-28 22:07] dmitryax commented on #158
Ok, can we keep presets and `.Value.config` only in a way that it doesn't require to disable anything with `null`? E.g. for you use case with tracing, we can have something like this:

[2022-06-28 22:09] dmitryax commented on #158
Actually, we don't even need to disable receivers with `null`. They can always be disabled just by removing from the pipeline:

[2022-06-28 22:14] TylerHelmuth commented on #158
Thats true, but from experience being an end user of the collector we didn't like deploying with configuration that wasn't used.  Best to keep the configmap as clean as possible.

[2022-06-28 22:18] TylerHelmuth commented on #158
Yes I think this is a valid solution.  It will allow disabling some presets while using others.  Will make it easier to merge in `.Values.config` and won't require the same level of breaking changes.

[2022-06-29 08:05] Allex1 opened #248 "make leader election arg configurable"
In some cases (replica 1/web-hooks disabled/leases role issues ...etc) you may want to disable leader election mechanism .

[2022-06-29 11:24] Allex1 opened #250 "Add ability to provide extra arguments to the manager pod"
Add ability to provide extra arguments to the manager pod on startup in order to make the config more flexible.

[2022-06-29 11:32] Tobrek commented on #242
I had no specific reason to do so. The manually installed collector before had no health check and i just tried to "copy" the deployment.yaml from before with the helm chart.

How can i add the extension outside the helm chart? Just as curious question.

I can do / try that, when you tell me what's your preferred solution:
a) removing the extension also disables the probes
b) health_check extensio

[2022-06-29 14:41] Allex1 opened #252 "Add support for ServiceMonitor"
Add support for ServiceMonitor in order for Prometheus to be able to scrape the manager metrics endpoint.

[2022-06-29 15:04] Allex1 opened #254 "Reuse 8443 port"
Reuse 8443 port across the chart

[2022-06-29 15:09] TylerHelmuth commented on #242
Unless there is a good use case for the opposite, I would say we fall into "the health_check extension is mandatory" scenario.  We can add something to the values.yaml comments to indicated that the healthcheckextension should never be disabled.

[2022-06-29 17:39] #254 closed

[2022-06-29 17:41] #250 closed

[2022-06-29 20:36] #252 closed

[2022-06-29 20:36] #248 closed

[2022-06-29 20:36] Allex1 opened #257 "Make ServiceAccount configurable"
Make manager ServiceAccount configurable

[2022-06-30 15:03] TylerHelmuth opened #259 "Add more comprehensive CI scenarios for Operator Chart"
Currently the CI for the operator chart only tests an install of the default config.  We should add CI scenarios to cover expected/complicated use cases so that the operator has better test coverage.  Increased test coverage will make it easier to validate changes.

Similar to https://github.com/open-telemetry/opentelemetry-helm-charts/issues/140

[2022-06-30 15:06] TylerHelmuth opened #260 "Add example folder with common values.yaml scenarios for operator chart"
It would be nice to have some example values.yaml for common scenarios customers might have.  Like the collector chart, these examples can be used by customers to see how the values.yaml affects the install and can be used by PR reviewers to validate changes.

Similar to https://github.com/open-telemetry/opentelemetry-helm-charts/issues/138

[2022-06-30 15:07] TylerHelmuth commented on #259
@Allex1 are you free to work on this?

[2022-06-30 15:07] TylerHelmuth commented on #260
@Allex1 are you free to work on this?

[2022-06-30 15:07] #257 closed

[2022-06-30 15:08] TylerHelmuth commented on #136
@Allex1 are you available to work on this?

[2022-07-02 18:04] dmitryax commented on #260
@Allex1 since you did many updates to the operator chart, would you consider becoming a code owner for that chart and possibly an approver in this repo? This will require a bit more involvement tho. Also you need to [request a membership](https://github.com/open-telemetry/community/blob/main/.github/ISSUE_TEMPLATE/membership.md) in OpenTelemetry. Let us know if you are interested

[2022-07-03 10:02] Allex1 commented on #260
@dmitryax yeah, I'd be interested in that. Who would be the second sponsor?

[2022-07-03 14:31] TylerHelmuth commented on #260
@dmitryax and I can sponsor.

[2022-07-04 04:06] #228 closed

[2022-07-04 06:29] Allex1 commented on #260
Opened https://github.com/open-telemetry/community/issues/1100 . Thanks guys.

[2022-07-07 11:49] Allex1 opened #267 "Add support for basic alerts for the operator/collector pod"
Right now afaik we don't  have any alerts/dashboards for when the operator pod has issues/goes down.
We should start analysing the oob metrics and create alerts/grafana dashboards for making the operator helm production ready.

[2022-07-07 11:49] Allex1 commented on #267
https://github.com/open-telemetry/opentelemetry-helm-charts/pull/266

[2022-07-07 14:10] Allex1 commented on #136
@TylerHelmuth I can give it a go

[2022-07-08 05:22] JaredTan95 opened #270 "command extra args makes users confusion."
I found https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/templates/_pod.tpl#L13 that configuration file  `--config=/conf/relay.yaml` always takes effect.

It makes confusion when the user configures additional parameters, like :
[code]

and this will eventually come into effect:
[code]

I think we can refactor this logical here?

[2022-07-08 15:01] TylerHelmuth commented on #270
@JaredTan95 the `--config=/conf/relay.yaml` is hard coded because it is the configuration from `.Values. config`.  If you want to modify the collectors configuration you should do it with a values.yaml and using the `config` field.

Do you have a use case where modifying the collector's configuration via the values.yaml is not sufficient and you need to use a second configuration file?

[2022-07-11 03:49] JaredTan95 commented on #270
In some cases, we want to inject k8s metadata or use `.global values` when helm install, as follows:

[code]

It will not take effect.

[2022-07-11 15:10] TylerHelmuth commented on #270
Does this issue cover your needs? https://github.com/open-telemetry/opentelemetry-helm-charts/issues/196

[2022-07-11 19:42] MarkAndersonTrocme opened #272 "Set better default resources"
The opentelemetry-collector [only defines limits by default](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/values.yaml#L194-L197),  if you don’t specify requests, Kubernetes will automatically set requests to equal to Pod’s limits. This means that with the default Helm  values, opentelemtry will take up 2Gb and 1cpu, which is insane.

I think

[2022-07-11 20:03] TylerHelmuth commented on #272
This is an interesting topic since it really comes down to "what should the chart suggest as a starting point for resources". The current value came from the old standaloneCollector value, which was set high to accommodate the "both" mode where agent collectors forwarded traces to a standalone collector.

The collector is efficient, but in my experience it does take a some resources to run properl

[2022-07-12 02:14] JaredTan95 commented on #270
👍 Seems satisfied.

[2022-07-12 02:56] TylerHelmuth commented on #270
Closing in favor of #196

[2022-07-12 02:56] #270 closed

[2022-07-12 02:57] TylerHelmuth commented on #196
@JaredTan95 do you want to work on this?

[2022-07-12 07:36] JaredTan95 commented on #196
Okay, glad to support this.

[2022-07-12 14:54] Allex1 opened #275 "[opentelemetry-operator] - Add support for imagePullSecrets"
Add support for imagePullSecrets in order to reference one or more secrets to be used when pulling images from authenticated repositories.

[2022-07-12 22:12] #275 closed

[2022-07-17 09:37] #267 closed

[2022-07-17 09:41] Allex1 opened #277 "Make roles creation optional"
In some Kubernetes environments RBAC is restricted to a limited set of permissions . We should make the role/rolebinding creation optional and allow users to deploy them outside of this helm chart.

[2022-07-18 14:21] #277 closed

[2022-07-20 18:42] dmitryax opened #282 "Release helm charts for image v0.56.0"

[2022-07-21 04:42] TylerHelmuth commented on #282
I'll do the upgrade in the morning.

[2022-07-22 14:54] #196 closed

[2022-07-22 23:06] #282 closed

[2022-07-26 14:52] TylerHelmuth opened #286 "[opentelemetry-demo] Add CI folder for testing."
The new opentelemetry-demo chart does not contain a CI folder, which means it runs through the

[2022-07-26 14:54] TylerHelmuth opened #287 "[opentelemetry-demo] Add testing workflow"
The new opentelemetry-demo chart does not have a workflow that tests its functionality. It should have a workflow similar to [collector-test.yaml](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/.github/workflows/collector-test.yaml) and [operator-test.yaml](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/.github/workflows/operator-test.yaml).  The opent

[2022-07-26 16:24] #286 closed

[2022-07-26 17:05] #287 closed

[2022-07-27 09:57] Frapschen opened #290 "opentelemetry demo chart supoort imageOverride"
Thanks for the effort on opentelemetry-demo charts,@wph95, I have some cases of reimplementing demo service with more features like integrating into sentinel for rate limiting. current charts need more flexibility adapt it, if it worth to do ,I would like to help it.

the `value.yaml` probably like this:
[code]

and the `_objects.tpl` will need a little change:
[code]

[2022-07-27 14:30] TylerHelmuth opened #291 "[opentelemetry-demo] Add more comprehensive CI scenarios"
Currently the CI for the demo chart only tests an install of the default config. We should add CI scenarios to cover expected/complicated use cases so that the demo has better test coverage. Increased test coverage will make it easier to validate changes.

Similar to https://github.com/open-telemetry/opentelemetry-helm-charts/issues/140

[2022-07-27 14:30] TylerHelmuth commented on #291
/ping @wph95

[2022-07-27 14:31] TylerHelmuth opened #292 "[opentelemetry-demo] Add example folder with common values.yaml scenarios"
It would be nice to have some example values.yaml for common scenarios customers might have. Like the collector chart, these examples can be used by customers to see how the values.yaml affects the install and can be used by PR reviewers to validate changes.

Similar to https://github.com/open-telemetry/opentelemetry-helm-charts/issues/138

[2022-07-27 14:31] TylerHelmuth commented on #292
/ping @wph95

[2022-07-28 00:31] #290 closed

[2022-07-28 07:29] Allex1 commented on #220
@lorelei-rupp-imprivata you probably mean the collector CR (custom resource) and not CRD (which needs to be deployed in the cluster in order for the operator to work)

[2022-07-28 12:15] lorelei-rupp-imprivata commented on #220
Yes thats exactly my issue! I think we can close this as a duplicate

[2022-07-28 12:15] #220 closed

[2022-07-28 15:23] TylerHelmuth commented on #158
Based on our discussion, we are going to try pivoting the presets idea to be for components that require extra k8s settings, such as filelog, hostmetrics, or k8sattributes, instead of presets for the default config.

This will allow us to have a fully customizable default config, and allow for the charts to helm with more complex components.

[2022-07-28 16:12] #136 closed

[2022-07-28 21:07] TylerHelmuth commented on #158
Even doing only presets for components that need extra k8s config was troublesome due to the fact that helm can't merge lists.

@dmitryax I linked 2 draft PRs with different options (both pretty messy still).

- #293: Full presets idea.  Replaces default config with presets.  Introduces `customConfig` field that if non-empty is used instead of the presets config.  No merging is attempted between p

[2022-07-28 22:04] dmitryax commented on #158
I like the second option with a proposal on how to apply list merges

[2022-07-28 22:07] #242 closed

[2022-07-29 23:07] moh-osman3 opened #296 "Update open-telemetry charts to reflect change in crd collector spec"
Trying to run an HPA with a statefulset collector and got the following error when trying to specify a `minReplica` value

[code]

and then looked at https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/crds/crd-opentelemetrycollector.yaml#L177 and it seems that `minReplicas` is actually missing

Can this be updated to reflect this https://github.com/

[2022-07-29 23:20] TylerHelmuth commented on #296
/cc @Allex1

[2022-07-30 15:54] TylerHelmuth opened #298 "Add make target to auto-update operator CRDs"
Would be good if we could add a make target in this repo that would automatically update the CRDs. Then we could run a test in the CI similar to Check Examples that would verify things.

__Originally posted by @TylerHelmuth in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/297#issuecomment-1200170334__

[2022-08-01 17:58] jpkrohling opened #300 "Update the opentelemetry-collector helm chart to use v0.57.0 docker image"

[2022-08-03 07:16] Frapschen opened #303 "otel demo env schema supports extracting k8s metadata."
In some scenarios, we want to add some [Pod and container fields](https://kubernetes.io/docs/concepts/workloads/pods/downward-api/) into `OTEL_RESOURCE_ATTRIBUTES` enviroment in some components, like namespace name, node name, pod name, which can help us understand a service's running metadata and also show the span attrubute's usage scenarios.

a demo values.yaml like:
[code]

current `values.yam

[2022-08-03 07:20] Frapschen commented on #303
@TylerHelmuth @wph95 since there are many microservice in otel-demo, we can add a default env setion to handle the specific values extracted from k8s metadata and I can help with the implementation of the custom default env section.

[2022-08-03 08:47] Frapschen commented on #303
#302

[2022-08-03 14:26] TylerHelmuth commented on #303
@Frapschen so the goal is to be able to set environment variables using downward api?

[2022-08-03 16:17] Frapschen commented on #303
yes

[2022-08-03 19:02] #158 closed

[2022-08-03 19:05] TylerHelmuth commented on #91
@dmitryax ready to close this issue?

[2022-08-03 21:08] dmitryax commented on #91
Yes, I believe so. Thanks for all the work @TylerHelmuth!

[2022-08-03 21:08] #91 closed

[2022-08-04 14:15] jascsch opened #305 "Install opentelemetry-operator without root privileges"
Hi all,

is it possible to install the opentelemetry-operator helm chart without root permissions?

![image](https://user-images.githubusercontent.com/108456658/182869085-75f9623f-e7c6-43da-9fd4-505f445c7440.png)

BR,
Jascha

[2022-08-04 14:25] TylerHelmuth commented on #305
/cc @Allex1

[2022-08-04 14:44] TylerHelmuth commented on #127
closing as @Allex1 is now code owner.

[2022-08-04 14:44] #127 closed

[2022-08-04 15:46] TylerHelmuth commented on #296
@Allex1 did the bump to 0.56.0 fix this issue?

[2022-08-04 16:25] Allex1 commented on #296
@TylerHelmuth the `minReplica` field is present in the new CRD but I haven't tested .
Maybe @moh-osman3 can give it a go ?

[2022-08-04 20:13] moh-osman3 commented on #296
I applied the udpated CRD to my collector statefulset and confirmed that `minReplica` is now recognized and works as expected. Thanks for the help!

[2022-08-04 20:13] #296 closed

[2022-08-07 00:07] blakeromano opened #310 "Add Target Allocator/Stateful Set Option"
The CRD for the collector allows for the creation of the target allocator for prometheus which uses some of the data from the config on the collector regarding prometheus. However the Helm Chart has not added that support as well. This should be done to add awareness and adoption of the Target Allocator especially since lots of work on the Prometheus/Opentelemetry work has been going on

[2022-08-08 14:28] jascsch commented on #305
@Allex1
Thanks for your reply.
Sure, I will do. I can also share the values.yaml file with you.

==> Linting ./charts/opentelemetry-operator

1 chart(s) linted, 0 chart(s) failed

[2022-08-08 14:29] jascsch commented on #305
`# Default values for opentelemetry-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

## Provide a name in place of opentelemetry-operator.
##
nameOverride: ""

## Reference one or more secrets to be used when pulling images from authenticated repositories.
imagePullSecrets: []

## Provide OpenTelemetry Operator manager container ima

[2022-08-08 14:31] jascsch commented on #305
BTW what`s the best way to share the values.yaml with you?

[2022-08-08 14:42] Allex1 commented on #305
@jascsch can you share the helm command you use to install the opentemetry-operator chart ? I'm not sure why the error mentions the `opentelemetry-collector` chart and not the operator.
Also you can share only the values overrides in this issue (provided there is nothing confidential)

[2022-08-08 14:53] jascsch commented on #305
helm upgrade --install opentelemetry-operator -f values.yaml -n opentelemetry open-telemetry/opentelemetry-collector --debug

[2022-08-08 14:54] jascsch commented on #305
[code]

[2022-08-08 15:10] jascsch commented on #305
Thanks for the hint. I did not notice it. It works now and you can close the ticket.

[2022-08-08 15:10] #305 closed

[2022-08-10 14:23] davidgp1701 opened #313 "[opentelemetry-operator] Issue overriding ServiceAccount"
If the user overrides the ServiceAccount creation for the Open Telemetry Operator in a value file like this:

[code]

The ClusterRoleBinding resource is created correctly:

[code]

But the `ServiceAccountName` in the `spec` section of the deployment is set incorrectly:

[code]

As you can see in the last lines of this example: `serviceAccountName: opentelemetry-operator-controller-manager` when th

[2022-08-10 14:29] Allex1 commented on #313
Thanks for the report @davidgp1701 Would you be willing to submit a fix ?

[2022-08-10 14:40] davidgp1701 commented on #313
Hi @Allex1 , already did, hope it followed ok all the guidelines, if not, let me know.

[2022-08-10 19:33] #313 closed

[2022-08-11 04:39] #303 closed

[2022-08-11 04:39] dmitryax commented on #303
Closed as completed in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/302

[2022-08-12 17:31] bogdandrutu opened #319 "Update the opentelemetry-collector helm chart to use v0.58.0 docker image"

[2022-08-13 03:52] dmitryax commented on #23
You have to use `{}` in the helm when overriding the default `values.yaml`. Helm uses `nill` values to remove the keys, so you cannot set `null` values in your `values.yaml`.

[2022-08-13 03:54] dmitryax commented on #23
I understand it's not clear. @hxtpoe feel free to submit a PR in this repo to make sure it's explained somewhere in the helm chart docs

[2022-08-15 15:14] TylerHelmuth commented on #310
/cc @Allex1

[2022-08-15 15:41] #319 closed

[2022-08-16 17:43] Allex1 commented on #310
@blakeromano thanks for the heads up.
In the current operator chart we don't create/manage any custom resources (like the OpentelemetryCollector), we just provide some examples in the readme in order for the user to create and manage his own collector/s
Can you clarify what is the expectation  regarding the targetAllocator resource?

[2022-08-17 19:13] #298 closed

[2022-08-17 19:31] TylerHelmuth commented on #310
@blakeromano is this issue related: https://github.com/open-telemetry/opentelemetry-helm-charts/issues/69

[2022-08-17 19:45] blakeromano commented on #310
Related yes. I think there is a benefit to having a helm chart that would do both the operator and collector without the usage of the CRD.

[2022-08-18 22:56] Mwad22 opened #331 "[opentelemetry-demo] Account for recent changes in load-generator"
Now that [this issue](https://github.com/open-telemetry/opentelemetry-demo/issues/320#issue-1343389309) in opentelemetry-demo repo has been resolved, the helm chart needs to be changed. to account for these changes.

[2022-08-18 22:57] Mwad22 commented on #331
#330 addresses this issue, and should be ready to merge after new images for opentelemetry-demo are built and deployed.

[2022-08-19 14:22] oxeye-schmil opened #332 "Exporting opentelemetry metrics to prometheus"
Hi,

I'm trying to configure the my collector with a pipeline for metrics with an otlp receiver and prometheus exporter.
I couldn't find a good example, so I did the following
`config:
  exporters:
    prometheus:
      endpoint: "0.0.0.0:8889"
      namespace: "default"
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
  service:
    pipelines:
      metrics:

[2022-08-19 20:57] #177 closed

[2022-08-20 08:46] zoranzaric-cpx opened #334 "[opentelemetry-collector] Make target allocator deployable via opentelemetry-collector helm chart"
As suggested by @jaronoff97 via Slack here's a feature request to make the target allocator deployable via the collector helm chart.

My goal would be to have collector metric `scrape_configs` generated from `ServiceMonitor` CRDs.

[2022-08-20 13:35] TylerHelmuth commented on #334
@zoranzaric-cpx is this issue related to this request: https://github.com/open-telemetry/opentelemetry-helm-charts/issues/310

[2022-08-20 13:38] TylerHelmuth commented on #332
@oxeye-schmil The collector chart has .Values.serviceMonitor that when enabled will create a service monitor to scrape the collector's metrics endpoint, and any other endpoints you specify.

For prometheusexporter examples checkout it's readme: https://github.com/open-telemetry/opentelemetry-helm-charts/issues/310

[2022-08-20 14:50] zoranzaric-cpx commented on #334
@TylerHelmuth I'm reading #310 as a feature for the operator.  I'm requesting making the target allocator usable without the operator just with the collector helm chart.

[2022-08-20 14:57] TylerHelmuth commented on #334
I'm not super familiar with the otel-allocator houses in the operator repo. Its goal is to load balance Prometheus endpoints that the collector's Prometheus receiver would scrape? Can it be used independently from the operator?

[2022-08-20 15:14] zoranzaric-cpx commented on #334
I'm not sure, @jaronoff97 suggested I create an issue on slack: https://cloud-native.slack.com/archives/C01N6P7KR6W/p1660910465791709

[2022-08-20 15:28] TylerHelmuth commented on #334
That thread reads to me like the target allocator needs to be managed via the operator. There is an operator chart, that would probably be best place to enable this functionality, unless I'm mis-understanding.

[2022-08-20 21:26] jaronoff97 commented on #334
I believe the target allocator should be possible to be used separate from the operator, given there is a public container published for the image. The operator helps manage some of the details necessary for the configuration of the collector and target-allocator, which should be possible for the standalone collector helm chart. @TylerHelmuth you can assign this issue to me to investigate.

[2022-08-20 21:33] TylerHelmuth commented on #334
@jaronoff97 sounds good to me, interested to see the results.

[2022-08-20 23:08] zoranzaric-cpx commented on #334
@jaronoff97 if there's legwork to do, I'll be happy to do it with some mentoring.

[2022-08-21 11:26] oxeye-schmil commented on #332
I probably need to add the prometheus exporter port to the list of ports as following, right?
`
  metrics-exporter:
    enabled: true
    containerPort: 8889
    servicePort: 8889
    protocol: TCP
`
and add it to the serviceMonitor   metricsEndpoints configuration

[2022-08-22 16:06] dineshg13 opened #335 "[opentelemetry-demo] Issue with DATABASE_URL in Feature flag service"
Database URL set in feature flag service is connecting to `ffs-postgres`, without taking into consideration the installation name.
https://github.com/open-telemetry/opentelemetry-helm-charts/blob/7421d9abecae37c5b9e04e31489a4d08188fb466/charts/opentelemetry-demo/values.yaml#L92-L93
Say we run
```helm install mydemo ./opentelemetry-demo```

the postgres service would be `mydemo-ffs-postgres`

we se

[2022-08-22 16:12] TylerHelmuth commented on #335
/cc @wph95

[2022-08-24 13:50] oxeye-schmil opened #339 "opentelmetry collector prometheus exporter configuration"
Hi

Below is my full configuration of my collector
To export opentelemetry metrics to prometheus I've added the following
prometheus exporter
[code]
port 8889 to ports
[code]
add dp-metrics port to serviceMonitor
[code]

I do see the otel-collector metrics but not the exported mertrics

[code]

[2022-08-24 15:26] TylerHelmuth opened #340 "[opentelemetry-demo] Refactor component env vars to better handle service names"
Also, I think we should refactor something to make setting env var easier. Adding env vars for specific services that rely on other services (and therefore the Release name) doesn't feel graceful.

I can open an issue for this later.

_Originally posted by @TylerHelmuth in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/337#discussion_r953223476_

[2022-08-24 15:27] TylerHelmuth commented on #340
/cc @wph95

[2022-08-24 16:53] #335 closed

[2022-08-25 07:13] avadhut123pisal opened #341 "Update OTEL Operator version to latest (v0.58.0)"
Support for .Net auto-instrumentation has been added in OTEL Operator release v0.57.2 and it has introduced the changes in the instrumentation CRD.

I would like to raise a PR to make the helm chart of OTEL Operator to point to latest version of OTEL  Operator (v0.58.0).

[2022-08-25 14:23] dineshg13 opened #343 "[demo ] Feature flag service is failing to start"
When we run the latest demo chart application via command

[code]
we see Feature flag service is failing to start .
[code]

[2022-08-25 14:34] TylerHelmuth commented on #343
/cc @wph95

[2022-08-25 14:46] TylerHelmuth commented on #343
@dineshg13 I am able to start the chart without any issues:

[code]

Can you provide some more details like what helm and k8s version you are using?  Also, are you installed from `helm repo add` or from a local instance of the chart?

[2022-08-25 15:54] TylerHelmuth commented on #343
I was just able to reproduce this issue in a K8s 1.22.10-gke.600 cluster.  The above is in a k8s 1.24.0 cluster.

[2022-08-25 17:20] dineshg13 commented on #343
@TylerHelmuth interesting. am getting an error , both on my local docker kubernetes and EKS cluster.
EKS versions
[code]

[2022-08-25 17:21] dineshg13 commented on #343
sorry .. i didn't see ur comment that u were able to reproduce

[2022-08-25 17:30] TylerHelmuth commented on #343
@dineshg13 can you try on 1.23?  Also very curious if you are able to deploy the demo on 1.22 without the helm chart.  I have a suspicion that this isn't a helm issue.

[2022-08-25 17:41] TylerHelmuth commented on #343
Was able to reproduce on k8s 1.23.7-gke.1400

[2022-08-25 18:02] TylerHelmuth commented on #343
I was also able to reproduce the error in 1.24.2-gke.1900 but the contain does eventually start.

@dineshg13 investigating this issue further is gonna take some knowledge of the actually demo code since `featureflag-service` is the thing actually erroring.  Are you able to head up the investigation?

[2022-08-26 15:22] #272 closed

[2022-08-26 23:56] joshleecreates commented on #343
I think the error is originating [here](https://github.com/open-telemetry/opentelemetry-demo/blob/379ee4fc127f6dd704a7e6072f323ec904d1daa6/src/featureflagservice/config/runtime.exs#L7) because of missing environment variables. I am able to recreate the same error by running the phoenix application directly (without Docker) and without loading the `.env` from the project root directory. I don't hav

[2022-08-27 00:02] TylerHelmuth commented on #343
@joshleecreates thanks for the investigation. Do you want to submit a PR to add this env variable to the chart? I believe it is being added for the product catalog service already.

[2022-08-27 01:38] joshleecreates commented on #343
Sure I can do that.

[2022-08-30 04:44] avadhut123pisal commented on #341
Closing this issue.
Comment ref: https://github.com/open-telemetry/opentelemetry-helm-charts/pull/342#issuecomment-1231127135

[2022-08-30 04:44] #341 closed

[2022-08-30 14:12] #343 closed

[2022-08-31 20:04] #331 closed

[2022-09-01 14:18] akats7 opened #350 "Add k8s_cluster receiver to presets and/or provide guidance on usage with helm chart"
Hi all, I have been trying to enable the k8s_cluster receiver and k8s_events receiver on my collector, but have not been able to enable them without crashing my collector. Has anyone had any luck with this/ is there a known reason this wouldn't work.

If this should be possible to enable while consuming the chart, it would be good to potentially see some guidance on this as it doesn't seem to work

[2022-09-01 14:31] TylerHelmuth commented on #350
Hello @akats7.  Feels like there are 2 issues here:
1. Help running [k8sclusterreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8sclusterreceiver) and [k8seventsreceiver](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8seventsreceiver)
2. Feature request to add [k8sclusterreceiver](https://github.com/open-telemet

[2022-09-02 04:01] JaredTan95 opened #351 "[opentelemetry-operator] use self-signed cert not works well."
As described from https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/README.md#tls-certificate-requirement 3rd way.

We deploy as following sets:
[code]

and we also create tls by `kubectl create secret tls...`

but the `opentelemetry-operator` pod occurs error :
`TLS handshake error from 10.233.96.0:39014: remote error: tls: bad certificate `

It c

[2022-09-02 04:33] TylerHelmuth commented on #351
/cc @Allex1

[2022-09-02 13:31] akats7 commented on #350
Hi Tyler,
Sure thing, I'll open a new issue requesting the additional preset.

In regards to my issue running the receivers, I'm using v0.28.0.

My values.yaml is pretty minimal, I also tried creating a clusterrole and clusterrolebinding for the created service account, using the guidance [here](https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8sclusterreceiver

[2022-09-02 13:33] Allex1 opened #353 "Make kubeRBACProxy optional"
Seems that kubeRBACProxy was initially added on the manager pod for reading it's metrics. Since https://github.com/open-telemetry/opentelemetry-helm-charts/pull/317 it does not seem to be needed for this purpose.
I'd like to initially make it configurable as I may be missing any functionality that it brings and at some point to remove it completely.

[2022-09-07 07:02] nguyenhoaibao opened #356 "Cannot expose OTLP service using Istio"
Currently the opentelemetry-collector Helm chart has a pre-configured ports like [this](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-collector/values.yaml#L178-L181):
[code]
that makes the installed service has a port name `otlp` and port number set to `4317`.

Now I want to expose that service using Istio. Since that 4317 port is a GRPC service and Is

[2022-09-09 13:55] dineshg13 opened #358 "[opentelemetry-demo] Load generator is unable to connect to frontend service"
When we install demo application on k8s cluster, loadgenerator is unable to connect to frontend. We see error trace in the jaeger as well .

![image](https://user-images.githubusercontent.com/2471669/189366284-6cef5cef-5110-4eb8-ba49-5dfc23cb1c93.png)

[2022-09-09 13:59] dineshg13 commented on #340
Currently demo application isn't working.  See #358 . When i manually fixed that in my environment , am seeing that checkout service is unable to connect to email service
[code]

[2022-09-10 08:25] #353 closed

[2022-09-12 14:52] MatthiasWinzeler commented on #31
hi folks

I saw that #133 is closed. Is my assumption correct that it's currently not possible to mount the secrets as env vars?

We're aware that we can solve the issue by creating the config file in a secret ourselves and mounting it (instead of having the helm chart create it), but ideally we would want to reuse the helm charts config generation: https://github.com/open-telemetry/opentelemetry-

[2022-09-13 13:34] adomenech73 opened #360 "Error message while deploying opentelemetry-operator with flux"
I'm trying to deploy `opentelemetry-operator` using flux and I always come to the point of receiving some error messages:

[code]

I'm probably missing something but I tried to to add the annotation the message points and still getting the same message, then I disabled the clusterRole creation with `clusterRole.create: false` and then I got another error message:

[code]
I finally also disabled th

[2022-09-13 13:47] TylerHelmuth commented on #358
@dineshg13 do you plan to work on this?

[2022-09-13 13:47] TylerHelmuth commented on #358
/cc @wph95

[2022-09-13 14:35] MatthiasWinzeler commented on #31
nevermind - it is actually already possible. one can use the combination of `extraEnvs` with `secretKeyRef`:

[code]

with a secret (manually created):
[code]

[2022-09-13 17:43] TylerHelmuth commented on #356
@nguyenhoaibao in your values.yaml you can do either

[code]
or

[code]

to update the name.  Let me know if that works.

[2022-09-14 03:38] nguyenhoaibao commented on #356
Thank you @TylerHelmuth, it works now. I will close this issue.

[2022-09-14 03:38] #356 closed

[2022-09-14 15:24] TylerHelmuth commented on #31
Thanks @MatthiasWinzeler!

[2022-09-14 15:24] #31 closed

[2022-09-14 15:35] TylerHelmuth commented on #350
@akats7 please make sure your RBAC is set correctly: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/k8seventsreceiver#rbac

[2022-09-15 13:16] #358 closed

[2022-09-15 16:24] bogdandrutu opened #362 "Update the opentelemetry-collector helm chart to use v0.60.0 docker image"

[2022-09-15 16:29] TylerHelmuth commented on #362
@Allex1 @dmitryax can one of you take this?  I don't have a good way to run `make generate-examples` right now

[2022-09-15 16:47] 2start opened #363 "Checkout service can't access email service"
**Observation**

The following error occurs:

[code]

**Explanation**

The checkout service uses the following env var `EMAIL_SERVICE_ADDR: release-name-email-service:8080`.
The env var is used in the code as follows:

[code]

The error occurs because the http:// protocol prefix is missing. However, the `SERVICE_ADDR` emails are automatically generated out of the service dependencies via the follo

[2022-09-15 17:10] TylerHelmuth commented on #363
@2start Do you know if the email service's code is breaking a standard that the other services follow by not adding the http prefix? Or is this the only situation where this applies?

[2022-09-15 17:11] dmitryax commented on #362
I can do it

[2022-09-15 17:26] #362 closed

[2022-09-15 18:56] 2start commented on #363
@TylerHelmuth It took a superficial look earlier. Unlike the other services the email-service is no grpc service. It's a ruby service. I.e. it uses a http library, which requires us to specify http:// or https://. I think there are two possible solutions.

Just touch our repo:

1. Specify the protocol in the address similar to [opentelemetry-demo .env](https://github.com/open-telemetry/opentelemet

[2022-09-15 20:40] TylerHelmuth commented on #340
@2start would you like to take point on this issue?

[2022-09-16 09:03] sherifkayad opened #368 "[opentelemetry-collector] statefulset mode can't be started"
Currently we are facing the following two issues with the `statefulset` mode:

- **First Issue:** The `volumeClaimTemplates` isn't taken into consideration (not created with the StatefulSet object) .. Our Yaml config is as follows:
[code]

After some investigation I think the error is here in the StatefulSet Template:
[code]
That should be something like:
[code]

- **Second issue:** We are getting

[2022-09-16 09:04] sherifkayad commented on #368
CC: @TylerHelmuth

[2022-09-16 13:28] #351 closed

[2022-09-16 13:45] TylerHelmuth commented on #368
@sherifkayad Thanks for letting us know. Do you want to submit PRs to fix the issues? If so I'll assign this issue to you.

[2022-09-16 14:43] 2start commented on #340
#363 describes the issue in more detail.

[2022-09-16 14:51] 2start commented on #363
Tbh. it would also improve the original setup.
However, the problem at our side occurs because we bind our generated dependency addresses directly to the go code in the demo itself. We would need an optional layer inbetween to decouple this. Like a "getter" function.

I propose to write a quick n dirty fix by checking if the address belongs to the email-service. If so I can prefix the addr with ht

[2022-09-16 14:53] TylerHelmuth commented on #363
yes we can do this for now to get the chart working for the 1.0 release of the demo.  Do you plan to work on that?

[2022-09-16 15:31] 2start commented on #363
sure I can write the fix today

[2022-09-16 16:04] #363 closed

[2022-09-17 08:47] sherifkayad commented on #368
@TylerHelmuth yeah sure .. as for the second issue I might require some help .. will let you know 😉

[2022-09-17 15:33] geoffreytran opened #370 "Add support for priorityClassName to otel operator deployment"
Priority classes are used by k8s to determine which pods to evict in cases where nodes are removed from the cluster or under resource congestion. The operator is a good case where we would want to set the priority class to keep the operator from being evicted and ensure it's the first pods starting so that downstream pods with auto instrumentation sidecars/agents will be instrumented properly.

Th

[2022-09-19 09:26] sherifkayad commented on #368
@TylerHelmuth I submitted a PR .. The second issue was somehow magically resolved .. not sure what happened there. The first issue I fixed with this PR

[2022-09-19 16:58] povilasv opened #374 "Kubernetes metadata using `logsCollection` preset should be added to resource attributes"
I believe Kubernetes metadata using `logsCollection` preset should be added to resource attributes not log attributes. As it is metadata about resource, not the individual log. Also

stanza seems to support it via `resource` field https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/pkg/stanza/docs/types/entry.md#structure

Additionally, The k8s metadata processor only works

[2022-09-20 06:59] povilasv opened #376 "CRI metada parsing failures using logsCollection"
I get quite a lot of `regex pattern does not match `errors when using logsCollection preset. Detailed log is below.

What I checked is:
[code]

Does not match regex:
[code]

Because uid is 32 chars long, not 36?

I tried looking at Kubernetes code, but couldn't figure out what is the typical length

Detailed long:

[code]

[2022-09-20 15:50] #368 closed

[2022-09-22 20:01] #376 closed

[2022-09-22 20:01] #374 closed

[2022-09-26 05:58] ydan287 opened #380 "Add option to set the nodePort mapping."
When choosing NodePort kind, the port exposed is randomized from a range. in some runtimes (Kind for example) you need to explicitly do port forwarding:
[code]

This is impossible if the nodePort cannot be predetermined.

[2022-09-26 14:43] TylerHelmuth commented on #380
@ydan287 are you referring to the opentelemetry-collector chart's `ports` section?

[code]

You would like to specify nodePort as well?

[2022-09-26 20:19] Allex1 commented on #360
@adomenech73 I'm not very familiar with how Flux handles helm releases but from your error messages it seems related to the fact that some of the resources outlined are missing the `namespace` metadata explicitly defined. I'll submit a pr to fix that and you can test it.

[2022-09-26 21:59] dmitryax commented on #360
@adomenech73 looks like you already have `opentelemetry-operator-manager-role` in your cluster. Do you install the helm chart twice? If so try to use `nameOverride` option for this installation

[2022-09-26 22:08] dmitryax commented on #360
To avoid conflicts like this I believe we should use `opentelemetry-collector.fullname` helper which is base on release name instead of `opentelemetry-collector.name`.

cc @Allex1

[2022-09-27 02:51] ydan287 commented on #380
Yes, exactly. That should allow running the chart with Kind locally.

[2022-09-27 13:03] adomenech73 commented on #360
Hi @dmitryax you are totally right, seems that we have the operator installed from somewhere else, and there was a conflict with the names. I'm checking on this. Thanks to pointing at

[2022-09-27 13:03] #360 closed

[2022-09-27 13:31] #350 closed

[2022-09-27 17:12] #166 closed

[2022-09-28 17:11] povilasv opened #389 "Add Kubernetes attributes processor preset"
I think it would make a lot of sense to add k8sattributes procssor as another Preset. Especially combined with logs collection, where we can enhance the data with Resource attributes such as StatefulSet, Deployment name, etc.

What do you think?

UX could be something like:
[code]

Example configuration we could generate:
[code]

[2022-10-03 17:33] joshleecreates opened #397 "Add quote service to demo charts"
The new PHP quote service is missing from the demo charts.

[2022-10-03 23:20] joshleecreates commented on #397
I can't assign myself but I'm working on this.

[2022-10-05 01:04] #397 closed

[2022-10-05 20:49] dmitryax commented on #389
Looks good to me. Keep in mind that this preset should create a bunch of relevant rbac resources

[2022-10-05 20:52] dmitryax commented on #389
The provided k8sattributes config enables attributes enrichment for tracing only. It should be enhanced in case if `logsCollection` preset is enabled

[2022-10-06 13:35] puckpuck opened #406 "[demo] - allow image names/tags to be configured"
Since the OpenTelemetry community demo is meant to be forked/vendored, we want to ensure that a vendor can modify an image of one or more of the service components and leverage the official chart to deploy.

Ideally, we can have a default image name and tag prefix that can be configured for all service components, as well as the ability to override just an individual service component.

[2022-10-06 16:01] TylerHelmuth commented on #406
Doing some research in the chart it is possible to set the default image for all services and also overwrite, but the values.yaml doesn't make this clear.  I will clean things up.

[2022-10-06 16:48] #340 closed

[2022-10-07 14:37] #406 closed

[2022-10-10 09:20] Allex1 opened #410 "Allow byo webhooks and cert"
In some multi tenant kubernetes deployments users do not posses the RBAC to deploy webhooks but have a process to sideload a scrutinised version of the provided ones. Same for the certificate.

[2022-10-12 09:46] rkosegi opened #415 "Allow user to enable ingress in agent/daemonset mode"
Currently user is restricted to use ingress only when collector is deployed in `deployment` mode and user explicitly enable it.
We have use case where collector is running in agent mode, but at same time it could also ingest trace spans from outside of cluster.
Can this [artificial restriction](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/dcaeddac11897bc9e7c452efced12307665bee8

[2022-10-13 18:56] #389 closed

[2022-10-13 20:27] dmitryax opened #420 "Add kubelet metrics preset"
Similar to k8s attributes processor, we need a preset for kubelet metrics collection for daemonset mode

[2022-10-13 20:37] dmitryax commented on #420
@povilasv would you like to work one this one along with https://github.com/open-telemetry/opentelemetry-helm-charts/issues/421 ?

[2022-10-14 02:25] TylerHelmuth commented on #415
I'm in favor of allowing the chart to be configured as needed, even if it might not be the most optimal. We have started allowing this more since we moved to presets, such has host metrics and file log in a deployment. It also normally simplifies the chart.

@dmitryax @Allex1 do you agree?

[2022-10-14 22:33] bogdandrutu opened #425 "Update the opentelemetry-collector helm chart to use v0.62.0 docker image"

[2022-10-14 23:14] TylerHelmuth commented on #425
Handled via https://github.com/open-telemetry/opentelemetry-helm-charts/pull/418

[2022-10-14 23:19] TylerHelmuth opened #426 "[opentelemetry-demo] bump default image version to 0.6.0-beta"

[2022-10-14 23:20] TylerHelmuth commented on #426
@joshleecreates @wph95

[2022-10-15 01:19] dmitryax commented on #415
I'm good with adding support for that use case

[2022-10-15 01:19] dmitryax commented on #415
@rkosegi do you want to submit a PR?

[2022-10-15 04:17] rkosegi commented on #415
@dmitryax here is my proposed solution. It's just simplification of current logic. This also allows to expose collector into cluster when running in agent mode.

[2022-10-15 12:43] bogdandrutu commented on #425
Sorry about this @TylerHelmuth . We have to use v0.62.1, forgot to update the title.

[2022-10-15 19:41] Allex1 opened #430 "Generate helm-docs readme for all charts"
@TylerHelmuth @dmitryax I was thinking to add [helm-docs](https://github.com/norwoodj/helm-docs) for all of our chart like [Grafana charts](https://github.com/grafana/helm-charts/tree/main/charts/grafana#configuration) have for example. We use them in all charts and I find it very useful. I can also add contributing instructions for users to keep them in sync when they make changes in values.yaml.

[2022-10-15 19:49] #425 closed

[2022-10-16 14:35] #415 closed

[2022-10-16 19:21] dmitryax commented on #430
Sounds good to me 👍

[2022-10-16 20:10] TylerHelmuth commented on #430
Agreed. Id say we should add something to the workflows that enforces things stay in sync, like we do with examples.

[2022-10-16 20:23] joshleecreates opened #431 "[DEMO] allow specifying external service type"
Thinking about @puckpuck's comment in SIG last week about external services: It would be great to be able to specify whether or not and how to expose external services from a custom values.yaml. I think adding a values option like `externalServiceType: NodePort|ClusterIP|LoadBalancer` would fit most use cases.

Jaeger is already handled separately from the other components. What I need to think th

[2022-10-17 02:18] puckpuck commented on #431
I was thinking, similar to how we have a `servicePort` property for each component, we also get a `serviceType` property.  This should default to `ClusterIP` and we let the user specify which component gets exposed differently.  In some cases they may just Loadbalaner them all, or mix and match with NodePort because EKS requires a nodeport service for ALB ingress.

I don't think we need to worry a

[2022-10-17 05:14] avadhut123pisal commented on #145
@dmitryax  I would like to work on this, if no one has already started working on it.

[2022-10-17 14:11] #410 closed

[2022-10-17 14:12] #292 closed

[2022-10-17 14:14] TylerHelmuth commented on #217
Handled via https://github.com/open-telemetry/opentelemetry-helm-charts/pull/427

[2022-10-17 14:14] #217 closed

[2022-10-17 20:04] joshleecreates opened #436 "[DEMO] Recommendation service errors when calling product catalog service"
Repeated errors in the recommendation service matching the trace screenshot below. It seems to be a problem communicating with product catalog service but I don't have the bandwidth to investigate at the moment.

I have confirmed that this behavior only occurs with Kubernetes — running the latest version of the demo with docker-compose does not produce this error.

<img width="1468" alt="Screen Sh

[2022-10-17 22:00] #426 closed

[2022-10-17 22:35] #145 closed

[2022-10-18 14:28] TylerHelmuth commented on #370
Fixed by https://github.com/open-telemetry/opentelemetry-helm-charts/pull/433

[2022-10-18 14:28] #370 closed

[2022-10-18 16:58] chancez opened #438 "[DEMO] Support updating environment variables instead of overwriting env-vars"
Currently it's challenging add  "extra" env-vars to individual components because it overwrites their own env-vars, meaning you have to copy the existing env-var lists and put those in your own values.yaml. This is problematic because many of these env-vars are necessary for the component to even run, such as it's listen port, and it also means users doing this won't get new env-vars as the chart

[2022-10-18 23:16] chancez opened #439 "Operator fails at startup when admissionWebhooks.create=false"
[code]

Might be due to a change in #411, I noticed `ENABLE_WEBHOOKS` is no longer being configured when web hooks are disabled.

[2022-10-19 03:18] puckpuck opened #443 "[demo] - add prometheus and grafana components"
The OpenTelemetry demo uses Prometheus and Grafana to ingest and visualize metrics. We need to add these to the demo's Helm chart and set the collector's config to export metrics to Prometheus.  We will also require a set of default charts to be deployed to Grafana as part of this.

[2022-10-19 13:25] povilasv opened #446 "[operator] Opentelemetry Operator Collector contrib image"
At the moment we default to regular opentelemetry-collector image in the Operator chart. Lines:

 https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/values.yaml#L20-L22

I was thinking maybe instead of this image we should use contrib one? As it has way more receivers / processors / exporters and gives better default user experience.

Also it would

[2022-10-19 14:50] TylerHelmuth commented on #446
I agree on standardizing on contrib for the charts.  @Allex1 @dmitryax do you agree?

[2022-10-19 17:08] avillela opened #447 "OTel Demo App not deploying properly"
The OTel Demo App is deploying with errors when I attempt to use the [`opentelemetry-demo`](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-demo) Helm chart.

Errors include:
* `CrashLoopBackOff` on the `featureflagservice`
* Error in `recommendationservice` (see attached screen shot)
* Error: `name resolution failed for target dons:my-otel-demo-product-c

[2022-10-19 17:11] TylerHelmuth commented on #447
Thanks for documenting these errors.  The error with recommendation service is being tracked here: https://github.com/open-telemetry/opentelemetry-helm-charts/issues/436

[2022-10-19 17:15] TylerHelmuth commented on #447
@avillela does exporting traces work with the default jaeger backend?

[2022-10-19 17:17] avillela commented on #447
I haven't tried that yet. It's next on my troubleshooting list.

[2022-10-19 17:27] avillela commented on #447
@TylerHelmuth this was the error in the `featureflagservice`:

[code]

[2022-10-19 17:32] TylerHelmuth commented on #447
That error happens if the featureflag serivce starts before postgres is ready.  The featureflag service is supposed to crash and then restart until postgres is available, but thats not working for me locally, despite it workin in our CI.

[2022-10-19 18:05] austinlparker commented on #447
The service does crash and restart, but it can't find the server at first?

[code]

[2022-10-19 18:07] avillela commented on #447
@TylerHelmuth it looks like this was my problem and not a problem with the Helm charts. I had a custom version of `values.yaml` which I forgot to update after y'all update the Helm Chart. FML.

[2022-10-19 18:15] TylerHelmuth commented on #447
@austinlparker crashing and restarting is expected.  Does yours eventually startup?  I think I just banged my head against the wall for an hour trying to figure out why mine doesn't work and CI does and I think its bc I'm on an M1 Pro: https://github.com/open-telemetry/opentelemetry-demo/issues/396

[2022-10-19 18:18] TylerHelmuth commented on #447
Error: name resolution failed for target dons:my-otel-demo-cart-service:8080 (see attached OTel Collector log snippet)

@avillela are you still experiencing these issues with the latest chart and values.yaml?

[2022-10-19 18:21] austinlparker commented on #447
I haven't tried on k8s locally... I'm on a M1 Pro and it does work in Docker. Let me look at that other issue, I was getting some weird behavior if I didn't build images. I think we have a fix going in to build multi-arch so we stop dropping amd64 images on arm

[2022-10-19 18:38] avillela commented on #447
@TylerHelmuth it works fine after I updated to the latest values.yaml.

[2022-10-19 20:16] TylerHelmuth commented on #447
@austinlparker @puckpuck @joshleecreates I was able to build the featureflag service locally and then point to the image for the helm chart but it still doesn't start right so I don't think my machine is too blame.  I've point-pointed that the issue started with the bump to `0.6.0-beta` locally, but our testing is showing the service is able to correctly restart in a kind cluster.

[2022-10-19 20:20] puckpuck commented on #447
@TylerHelmuth what does your values.yaml look like in this?

[2022-10-19 20:21] TylerHelmuth commented on #447
@puckpuck

[code]

[2022-10-19 20:26] TylerHelmuth commented on #447
Thought maybe it was my local kind/k8s version, but if I bump our kind action to use `0.16.0` and latest k8s it still restarts as expected: https://github.com/open-telemetry/opentelemetry-helm-charts/pull/448

[2022-10-19 23:58] puckpuck commented on #436
This seems to be resolved with the latest version of the Helm chart.  Can you re-test this?

[2022-10-20 04:00] joshleecreates commented on #436
I'm still seeing this with chat version 0.9.2 but now I see errors in the log for the recommendation service, which I don't think were there before, so... progress? It's possible that this is an issue with my cluster if nobody else is seeing this.

[2022-10-20 04:14] TylerHelmuth commented on #436
@joshleecreates whats your setup? I had a pretty annoying day with an M1 pro and Kind.

[2022-10-20 04:28] joshleecreates commented on #436
@TylerHelmuth I'm using single-node k3s with containerd, cilium, and metallb on an x86 machine.

[2022-10-20 04:36] TylerHelmuth commented on #436
@joshleecreates in that case, when you get a chance, can you test if the featureflag service is starting up successfully.

[2022-10-20 04:47] joshleecreates commented on #436
@TylerHelmuth yes in my tests it always succeeds in connecting to postgres after 1-2 restarts.

[2022-10-20 14:49] #431 closed

[2022-10-20 14:58] TylerHelmuth commented on #439
/cc @Allex1

[2022-10-20 15:08] Allex1 commented on #439
Hi @chancez, this is an international breaking change (see [upgrading](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/UPGRADING.md#0130-to-0140)  notes). We decided to have the user explicitly set that env var to false.

[2022-10-20 15:36] TylerHelmuth commented on #447
Can't get featureflag service up on minikube either, even when only applying the collector, featureflag, and postgres.  Featureflag logs always says:

[code]

This is using a arm64 image built locally.  Anyone else with an M1 having any luck?

[2022-10-20 22:26] dmitryax commented on #446
Makes sense let's use the same image by default across all the charts

[2022-10-21 09:14] seankhliao opened #457 "operator missing ingress rbac roles"
The latest version of the operator [v0.61.0](https://github.com/open-telemetry/opentelemetry-operator/releases/tag/v0.61.0) appears to require roles to get/list/watch(?) Ingresses.
Without them it fails to make any progress

[2022-10-21 09:18] Allex1 commented on #457
@seankhliao, this has been [added](https://github.com/open-telemetry/opentelemetry-helm-charts/commit/5cb4d46e005e68323e9411a94426ca668144b1f2#diff-bd2633cf0804f0badd4644cb029eaad518031ade4cd79143ec943860e9cf11d9R126) in the latest helm version for the operator chart.

[2022-10-21 11:46] seankhliao commented on #457
Ahhh, what I get for delaying filing issues for a day.
Thanks!

[2022-10-21 11:46] #457 closed

[2022-10-21 16:38] edwintye opened #458 "[opentelemetry-operator] Usage of labels and selector labels"
The OpenTelemtry Operator helm chart doesn't use `"opentelemetry-operator.labels"` and `"opentelemetry-operator.selectorLabels"` apart from: webhook, service, service monitor, and prometheus rule. See for example [deployment.yaml#L4](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-operator/templates/deployment.yaml#L4) and [deployment.yaml#L12](https://gi

[2022-10-21 17:15] edwintye commented on #458
Ah, I was complaining about this at work to @LinuxAd about this and it seems like both of us decided that an upstream contribution will be faster 🤣

[2022-10-22 05:29] TylerHelmuth commented on #458
@edwintye @LinuxAd thanks for contributing. Can you choose one of the PRs to centralize on and close the duplicate?

[2022-10-24 11:18] LinuxAd commented on #458
Sure, I'll close mine now.

[2022-10-24 20:23] initharrington commented on #31
What is the best way to get a k8s secret into the collector using the Opentelemetry Operator Helm Chart and the `OpenTelemetryCollector` object?  I can create a separate issue if need be.

[2022-10-25 09:12] a-thaler commented on #438
While implementation we realized in that thread https://github.com/open-telemetry/opentelemetry-helm-charts/pull/465#discussion_r1003388710 that the order of the map keys are not preserved in Helm. With that the resulting order of the env-var list can be deterministic (sorted alphanumerical) but different to the provided order.
In consequence you have problems with env variables having dependencie

[2022-10-25 14:06] TylerHelmuth commented on #438
Since most of the duplication is coming from components maybe we can get away with only component env var supporting map instead of list?  It will still have the problem of not allowing env vars to depend on each other, but at least we don't have any use cases for that right now like default env var does.

[2022-10-25 14:06] TylerHelmuth commented on #438
/cc @dmitryax @Allex1

[2022-10-26 06:26] agardnerIT opened #466 "Add part-of label"
Can `app.kubernetes.io/part-of: opentelemetry-demo` be added as standard to all components?

[2022-10-26 10:01] a-thaler commented on #438
That solution should work out but introduces an inconsistency in how to define the two different layers of env variables. I'm fine with that as I also don't see a better solution. Please let me know when/if this can be seen as agreed so that I can start adjusting my PR.

[2022-10-26 14:43] TylerHelmuth commented on #438
@dmitryax @Allex1 curious to hear your thoughts.

[2022-10-26 16:21] Allex1 commented on #438
@TylerHelmuth sorry for the delay . TBH even though it seems cumbersome(and I get it's not ideal to maintain a 200 line yaml values file), I actually prefer providing the env vars as an array instead of a dict as that is the way they end up on the pod themselves and the way Kubernetes docs refer to env vars in general.
To me it seems that the complexity comes from the way the multiple components o

[2022-10-26 18:49] a-thaler commented on #438
@Allex1 @TylerHelmuth My understanding is that it is recommended to configure the otel-sdk from outside via env variables to have a consistent approach across the used languages, see https://opentelemetry.io/docs/reference/specification/sdk-environment-variables. So switching to args sounds not like a recommended approach and with that is bad for a demo app. It is more a flaw of the used package m

[2022-10-27 03:21] TylerHelmuth commented on #438
I need to review each component, but could OTEL_EXPORTER_OTLP_ENDPOINT be made a default env var? That way to override it you'd only need to modify the default env var list instead of each component's.

[2022-10-27 07:15] a-thaler commented on #438
That will improve the situation for sure. Only the redis component is not using the env variable, so applying it by default to all will not harm.
However, there are some few component (I think 2 at the moment) which additionally specify the trace endpoint (OTEL_EXPORTER_OTLP_TRACES_ENDPOINT). I can imagine that there will be more added in future for example for metrics to showcase how to configure

[2022-10-27 15:03] chancez commented on #438
Not entirely, not every component uses the same protocol (gRPC vs HTTP), and the ports for these vary, so the same variable needs potentially different values. My PR mentions this.

[2022-10-27 16:34] codeboten opened #474 "Update the opentelemetry-collector helm chart to use v0.63.0 docker image"

[2022-10-27 17:41] #446 closed

[2022-10-28 16:40] codeboten commented on #474
Please hold off on this until v0.63.1 is released. A patch is required to address https://github.com/open-telemetry/opentelemetry-collector/issues/6433

[2022-10-29 02:36] codeboten commented on #474
v0.63.1 is out now https://github.com/open-telemetry/opentelemetry-collector-releases/releases/tag/v0.63.1

[2022-11-01 14:58] #474 closed

[2022-11-02 18:08] #420 closed

[2022-11-02 18:54] TylerHelmuth commented on #438
@dmitryax I'm not quite following. Are you saying we allow setting a values like `--set components.adService.env/OTEL_EXPORTER_OTLP_ENDPOINT=some-value` and then the helm chart knows to apply that to the adservice's env list?

[2022-11-02 20:26] #466 closed

[2022-11-02 20:32] dmitryax commented on #438
Correct, but you still need `value` or `valueFrom`. e.g.:

[code]

[2022-11-02 20:34] dmitryax commented on #438
Actually instead of failing we can append new env var to the list

[2022-11-02 20:40] dmitryax commented on #438
If that idea seems too hacky, another option is to have a map with keys that are used only for preserving the order and not being used in the templating at all. This is one is explicit and easy to understand:

[code]

[2022-11-02 21:37] TylerHelmuth commented on #438
@dmitryax if we allow something like `.Values.components.adService.env/OTEL_EXPORTER_OTLP_ENDPOINT` then I would opt instead for the solution @chancez proposes in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/423.  Both require an extra field specifically for setting the collector endpoint.

I think the numeric ordering of default env var keys would also work (although its hacky

[2022-11-02 21:59] dmitryax commented on #438
The `.Values.components.adService.env/OTEL_EXPORTER_OTLP_ENDPOINT` approach does not introduce any extra fields in the default `values.yaml`, it'll stay exactly the same as it is right now. We will just support overriding the `env` items with these artificial fields if users supply them in their custom values.yamls.

[2022-11-02 22:15] dmitryax commented on #438
If we are confident that OTEL_EXPORTER_OTLP_ENDPOINT and OTEL_EXPORTER_OTLP_TRACES_ENDPOINT are the only env vars that user would need to override, then I'm good with applying https://github.com/open-telemetry/opentelemetry-helm-charts/pull/423

[2022-11-02 22:31] dmitryax commented on #438
Also instead of those compound `env/...` keys we can have `env_override` group which is empty by default. Custom user config would be something like this if they want to change `OTEL_EXPORTER_OTLP_ENDPOINT` and `OTEL_K8S_POD_NAME`:

[code]

[2022-11-02 22:42] TylerHelmuth commented on #438
@dmitryax Ok I see what you mean about supporting overriding values.  If we do a generic solution (which I like bc with the way the demo changes I doubt the collector would be the only value to change in the future), how are you thinking we adjust the service's `env` list?  A helper that loops through the list and replaces matching `name` fields?

[2022-11-02 22:48] dmitryax commented on #438
Yes, and appends an env var in case of mismatch.

We can also support `null` for removals

[2022-11-03 01:44] TylerHelmuth commented on #438
@chancez @a-thaler is this idea something either of you have time to work on?

[2022-11-03 10:29] a-thaler commented on #438
Sounds like a good idea and I like to work on that this week. To be aligned here, I imagine such final values.yaml.

[code]
I can try to support overriding a default.env in a components envOverride as well, as outlined in the example of @dmitryax, so overridding the OTEL_SERVICE_NAME in the component, let's see

[2022-11-03 16:32] chancez commented on #438
@TylerHelmuth I don't have time atm, but someone else can pick it up

[2022-11-03 17:54] dmitryax commented on #438
@a-thaler sounds good. Thanks! I was thinking of `envOverrides` to be a map, but list probably is a better option, just in case user wants additional env vars to preserve their order

[2022-11-03 19:58] chancez commented on #438
Also to add: I think the approach suggested by @a-thaler would for for me and, using a list for the override makes sense to me.

[2022-11-03 23:18] dmitryax commented on #443
Closing as completed in https://github.com/open-telemetry/opentelemetry-helm-charts/pull/456

[2022-11-03 23:18] #443 closed

[2022-11-04 10:12] a-thaler commented on #438
Created PR https://github.com/open-telemetry/opentelemetry-helm-charts/pull/484 which implements the discussed proposal. As outlined in the PR description I skipped support for overriding default envs in the component specific envOverride section as I found no clean solution. Please have a look and also check if you have a better idea on how to implement the actual merge logic while preserving the

[2022-11-04 14:52] jaronoff97 opened #485 "Allow setting annotations for the operator service account"
Currently, you can't set any annotations on the operator's service account which means that you can't have it use something like GCP workload identity or autoscaling eviction annotations.

[2022-11-04 14:53] jaronoff97 commented on #485
@TylerHelmuth You can assign me, i'm gonna make the fix right now.

[2022-11-04 18:23] TylerHelmuth commented on #260
@Allex1 do you have any scenarios you want covered by Examples?

[2022-11-07 07:42] Allex1 commented on #260
@TylerHelmuth I'm not sure our use cases are something other users would appreciate as we run the operator/collector on clusters which we are not admins on so clusterrole/webhooks need to be disabled and sideloaded by other means.

[2022-11-07 15:38] #260 closed

[2022-11-08 00:20] #438 closed

[2022-11-08 07:13] TylerHelmuth commented on #90
The latest chart now allows completely overriding the default configuration. Let me know if this issues needs to be reopened.

[2022-11-08 07:13] #90 closed

[2022-11-08 07:16] #291 closed

[2022-11-08 12:32] navin-rai commented on #172
Liveness probe failed: Get "http://********:13133/": dial tcp ******:13133: connect: connection refused

Liveness probe failed: Get "http://********:13133/": dial tcp ******:13133: connect: connection refused

I am getting this issue while deploying the collector, what may be the reason ?

[2022-11-08 14:37] joshleecreates commented on #436
@TylerHelmuth Unfortunately yes. I'll do some digging this week if I have time.

<img width="1470" alt="Screen Shot 2022-11-08 at 9 36 39 AM" src="https://user-images.githubusercontent.com/11478793/200593169-20ff7037-6c4d-4d5e-95fb-1efe01784fae.png">

[2022-11-09 15:50] sebbegg opened #491 "[opentelemetry-collector] Cannot disable logs/metrics with kubernetesAttributes preset"
When enabling the `kubernetesAttributes` preset and attempting to disable the logs, traces or metrics pipeline fails:

[code]

[2022-11-09 16:10] TylerHelmuth commented on #491
@sebbegg thanks for the issue. Presets are kinda temperamental, as documented in this comment in the values.yaml

https://github.com/open-telemetry/opentelemetry-helm-charts/blob/d065b6b40ce1fde7d0245efadefe74066c572d5d/charts/opentelemetry-collector/values.yaml#L11-L19

Basically if the preset adds something to the config, you can't mess with that thing via `.Values.config`.  In this situation, t

[2022-11-09 19:09] dmitryax commented on #491
I believe instead of getting upset, the preset logic can just check if the pipeline is enabled?

[2022-11-09 19:19] TylerHelmuth commented on #491
I think if we limit the null check to just pipelines that would be ok.  I just don't want to get in the business for trying to merge preset logic and custom component configuration.

[2022-11-09 19:25] dmitryax commented on #491
Yeah, just checking pipeline is fine

[2022-11-10 18:50] bogdandrutu opened #494 "Update the opentelemetry-collector helm chart to use v0.64.1 docker image"

[2022-11-10 19:54] #494 closed

[2022-11-11 12:29] husseinraoouf commented on #334
I hope this pr get more attention

@jaronoff97 do you need any help, I can continue where you left if you could point me to the right direction

[2022-11-11 12:33] husseinraoouf commented on #334
I also think the chart should include PodMontior and ServiceMonitor if prometheusCR is enabled in the target allocator config

[2022-11-11 13:14] joshleecreates commented on #436
This is no longer occurring for me. Closing.

[2022-11-11 13:14] #436 closed

[2022-11-14 01:18] kangsheng89 opened #500 "Ability to config tls setting for kube-rbac-proxy"
kube-rbac-proxy support below setting
--tls-cert-file
--tls-cipher-suites
--tls-min-version
--tls-private-key-file
--tls-reload-interval

It is better if we can configure it from helm value ?

[2022-11-14 20:08] jaronoff97 commented on #334
@husseinraoouf I have a working branch [here](https://github.com/open-telemetry/opentelemetry-helm-charts/compare/main...jaronoff97:opentelemetry-helm-charts:target-allocator) that has what I've done so far. Most of my focus has been on improving the target allocator in the [operator repository](https://github.com/open-telemetry/opentelemetry-operator) and helm support proved to be more difficult

[2022-11-15 13:25] tglanz opened #504 "Add "schedulingRules" to jaeger"
In the demo chart - I'd like to have the ability to specify node affinities for Jaeger's pod which from my understanding, is currently not support.

Is it reasonable to add the existing schedulingRules to the [values schema](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-demo/values.schema.json) and update [Jaeger template](https://github.com/open-teleme

[2022-11-15 15:44] #500 closed

[2022-11-15 15:46] TylerHelmuth commented on #504
I agree that the jaeger deployment should be able to set scheduling rules as well.  @tglanz would you like to work on this?

[2022-11-15 15:47] tglanz commented on #504
great, on it

[2022-11-15 20:57] tglanz commented on #504
@TylerHelmuth opened pr #505

[2022-11-16 16:01] TylerHelmuth commented on #447
@avillela can you take another look at the demo chart?  With the latest release all the Apple Silicon issues should be fixed, and I believe other releases fix other issues mentioned.

[2022-11-16 19:31] #491 closed

[2022-11-17 14:44] zhuoyuan-liu opened #511 "OOM for frontendproxy"
Hi there,

The latest helm chart set memory limits 20Mi to frontendproxy, which results in OOMKilled.

After increasing the memory limit, everything works fine.

[2022-11-17 19:04] #504 closed

[2022-11-21 17:52] #458 closed

[2022-11-21 23:36] #208 closed

[2022-11-23 18:38] tglanz opened #515 "Enable "env" configuration for jaeger deployment"
I'd like to use an ElasticSearch cluster as a storage backend for Jaeger. For this I need to set some environment variables in Jaeger's containers. Some of the variables should be taken from the k8s cluster's secrets so it would be ideal to have an option configuring something like

[code]

[2022-11-23 18:39] tglanz commented on #515
Am wiling to work on it if that's something your'e interested in adding

[2022-11-23 18:55] TylerHelmuth commented on #511
@zhuoyuan-liu where did you deploy the chart?  I have be able to use the defaults as expected.

[2022-11-23 19:13] tglanz commented on #515
@TylerHelmuth I'm not sure but it looks like the chart doesn't support in-memory mode? Which is this chart's default

[2022-11-23 19:17] puckpuck commented on #515
Moving to a Jaeger chart is a good idea here.

The downside is we may break backward compatibility for anyone that configured something specific to the Jaeger deployment.

[2022-11-23 19:39] dmitryax commented on #515
Yes, I believe we need to use jaeger as a sub-chart. We may be able to support the current jaeger config interface as deprecated and translate it into the sub-chart config, but it may be too much work

[2022-11-23 21:23] puckpuck commented on #515
The breaking change would also be the catalyst to do a proper readme for the chart as well finally.

[2022-11-24 12:37] zhuoyuan-liu commented on #511
Thanks for answering.

I tried to deploy the latest chart and everything is okay. I got this error with chart version 0.12.0 in AKS.

[2022-11-24 13:55] povilasv opened #518 "Update OpenTelemetry Collector to v0.66.0"
Update OpenTelemetry Collector to v0.66.0

Reference: https://github.com/open-telemetry/opentelemetry-collector/issues/6614

[2022-11-24 15:40] TylerHelmuth commented on #511
@zhuoyuan-liu Great! If things are working as expected now please close this issue.

[2022-11-24 16:14] codeboten commented on #518
Thanks for opening this issue @povilasv!

[2022-11-24 16:50] #518 closed

[2022-11-25 05:01] puckpuck commented on #515
I went down the path of using Jaeger as a sub-chart.

Unfortunately, the sub-chart doesn't implement a way to pass in extra args for the `all-in-one` mode. I still think doing Jaeger as a sub-chart is a good idea, but now I need to figure out how to PR a change into the Jaeger helm chart.

[2022-11-25 11:00] #511 closed

[2022-11-26 08:43] julianocosta89 opened #524 "Automatically create service to expose otel-collector when deployed in daemonset mode"
Hello all,

When installing the [OpenTelemetry Demo Helm Chart](https://github.com/open-telemetry/opentelemetry-helm-charts/tree/main/charts/opentelemetry-demo) we have the option to change the mode of the collector deployment.
If we use the following `values.yaml` to override the default:
[code]
The chart is installed successfully, but the collector is not exposed via k8s service, hence it's not

[2022-11-26 17:28] TylerHelmuth commented on #524
@julianocosta89 normally when the collector is deployed as a daemonset the services running on the same node push the data to the node's IP to reach the collector. This ensures that within the collector the traces are able to be correlated with the pod metrics and metadata.

Would that solution work for you?

[2022-11-26 17:30] TylerHelmuth commented on #447
@avillela I am pretty sure all the issues you've raised have been address. I'm going to close this for now, please reopen if you're still having issues.

[2022-11-26 17:30] #447 closed

[2022-11-26 21:17] julianocosta89 commented on #524
Oh true, that makes sense.
That would work, but that would still require some adjustments in the Helm chart, right?

[2022-11-26 22:00] TylerHelmuth commented on #524
The collector helm chart can support the node ip pattern already. Do you mean the demo chart?

[2022-11-26 23:46] julianocosta89 commented on #524
Yes, because just changing the deployment mode to daemonset it didn't work.
That's why I've suggested creating the service.

[2022-11-27 05:32] puckpuck opened #525 "[demo] Add Ingress for frontend proxy"
An ingress for the frontend proxy would allow people to easily expose the demo beyond having to use `kubectl port-fortward` or a LoadBalancer service which both may be restrictive in many deployment scenarios.

I'm willing to do the effort, but would like to discuss what is the best way to define the parameters to add this. Should it be done as a new `ingress` section or as part of the `components

[2022-11-27 17:34] puckpuck commented on #524
The existing chart can make this work but requires the demo components to be set up to send their OTLP data to the local node instead. The Helm chart components, when using default env, will get an environment variable called `K8S_OTEL_NODE_NAME`. You can set up the components to use this variable like this (not tested):

[code]

You would need to repeat the above for each demo component, noting s

[2022-11-27 18:48] julianocosta89 commented on #524
Thanks again @TylerHelmuth and @puckpuck !

[2022-11-27 18:48] #524 closed

[2022-11-28 07:29] erichsueh3 opened #526 "[opentelemetry-operator] Improve Operator deployment `args` templating"
Similar to how the operator image and the collector image are templated currently, the target allocator image and the auto-instrumentation images should be templated the same way, instead of having those be set through the `manager::extraArgs` value

[2022-11-28 10:15] julianocosta89 commented on #524
Just for out of completeness, the suggested solution didn't quite work in an EKS cluster.
For some reason, the pods were not able to reach the node by its nodeName.

But I've followed the same approach and used the following:
[code]

[2022-11-28 18:53] avillela commented on #447
@TylerHelmuth Apologies for the delay. Yes, I was finally able to look at this today and it appears that the issues are resolved. Thanks so much!

[2022-11-28 20:18] avillela opened #530 "OTel Demo App Helm Chart Install with specified values.yaml was not sending traces to Jaeger"
**Steps taken:**

Ran the OpenTelemetry Demo App Helm Chart with `values.yaml` as follows:

[code]

Note that this was [values.yaml](https://github.com/open-telemetry/opentelemetry-helm-charts/blob/main/charts/opentelemetry-demo/values.yaml) from the helm repo itself - I did not make any modifications to this file.

Set up k8s port-forwarding to access the Jaeger UI:

[code]

Opened up the Jaeger

[2022-11-28 21:49] #530 closed

[2022-11-30 22:22] #526 closed